<div class="activity_item">
    <div class="icon">
        <a href="{{iconHref}}"><img src="{{iconSrc}}"/></a>
    </div>
    <div class="activity_content">
        <div class="activity_header">
            {{{headerHtml}}}
        </div>
        {{#if body}}
            <div class="body">{{body}}</div>
        {{/if}}
        <div class="timestamp">{{relativeTimestamp timestamp}}</div>
        <div class="links">
            <a class="comment dialog" data-dialog="Comment" data-entity-type="{{entityType}}" data-entity-id="{{id}}" data-entity-title="{{entityTitle}}" href="#">{{t "activity_stream.comment"}}</a>
        </div>
    </div>
</div>

<ul class="comment_list"></ul>
