<div class="media activity_item">
    {{#if isInsight}}
    <div class="insight_ribbon">
        <span class="left" /><span class="center">{{t "insight.title"}}</span><span class="right" />
    </div>
    {{/if}}

    <div class="icon">
        <a href="{{iconHref}}"><img src="{{iconSrc}}" class="{{iconClass}}" /></a>
    </div>
    <div class="activity_content bd">
        <div class="activity_header">
            {{{headerHtml}}}
        </div>
        {{#if body}}
            <div class="body">{{body}}</div>
        {{/if}}
        <ul class='attachments'>
        {{#each attachments}}
            <li>
                <a href="{{url}}">
                    <img src="{{iconSrc}}" />
                    <span class="name" title="{{name}}">{{name}}</span>
                </a>
            </li>
        {{/each}}
        </ul>
        <div class="actions">
            <span class="timestamp">{{relativeTimestamp timestamp}}</span>
            {{#ifAdminOr isOwner}}
                <a class="delete_link alert" data-alert="DeleteNoteConfirmAlert" href="#">{{t "actions.delete"}} <img src="images/trashcan.png"/></a>
            {{/ifAdminOr}}
        </div>
        <div class="links">
            <a class="comment dialog" data-dialog="Comment" data-entity-type="{{entityType}}" data-entity-id="{{id}}" data-entity-title="{{entityTitle}}" href="#">{{t "activity_stream.comment"}}</a>
            {{#if isNote}}
                <span class="separator">|</span> <a class="promote" href="#">{{t "activity_stream.promote"}}</a>
            {{/if}}
                {{#if isInsight}}
                    {{#if isPublished}}
                        <span class="separator">|</span> <a href="#" class="unpublish">{{{t "insight.unpublish.link"}}}</a>
                    {{else}}
                        <span class="separator">|</span> <a href="#" class="publish">{{{t "insight.publish.link"}}}</a>
                    {{/if}}
                <span class="separator">|</span> <span class="promoted_by">{{{t "insight.promoted_by" promoterLink=promoterLink relativeTimestamp=promotionTimestamp}}}</span>
            {{/if}}
        </div>
    </div>
</div>

<ul class="comment_list"></ul>
