{{#if loaded}}
<ul class="activities">
    {{#each models}}
    <li data-activity-id="{{id}}">
        <div class="image">
            <a href="#/users/{{author.username}}">
                <img title="{{displayNameFromPerson author}}" src="/edc/userimage/{{author.username}}?size=icon"/>
            </a>
        </div>
        <div class="title">{{type}}</div>
        <div class="info">
            <a href="#/users/{{author.username}}"><span class="name">{{displayNameFromPerson author}}</span></a>
            {{t "activity_stream.on"}}
            <span class="timestamp">{{displayTimestamp timestamp}}</div>
        </div>
        <div class="text">{{text}}</div>
        <div class="links">
            <a class="comment" href="javascript:void(0)">{{t "activity_stream.comment"}}</a>
        </div>
        {{#if comments}} {{#if comments.length}}
        <ul class="comments">
            {{#eachWithMoreLink comments 2 "activity_stream.comments.more" "activity_stream.comments.less"}}
                <li data-comment-id="{{id}}" class="{{moreClass}}">
                    <div class="image">
                        <a href="#/users/{{author.username}}">
                            <img title="{{displayNameFromPerson author}}" src="/edc/userimage/{{author.username}}?size=icon"/>
                        </a>
                    </div>
                    <div class="info">
                        <a href="#/users/{{author.username}}"><span class="name">{{displayNameFromPerson author}}</span></a>
                        <div class="timestamp">{{displayTimestamp timestamp}}</div>
                    </div>
                    <div class="text">{{text}}</div>
                </li>
            {{/eachWithMoreLink}}
        </ul>
        {{/if}} {{/if}}
    </li>
    {{/each}}
</ul>
{{else}}
<div class="loading">{{t "loading"}}</div>
{{/if}}
