{{> errorDiv }}
<div class="guts">
    <div class="content">
        <div class="right">
            <img class="message" src="/images/message_icon.png"/>
            <img class="info" src="/images/message_info.png"/>
            <img class="error" src="/images/message_error.png"/>
        </div>
        <div class="left">
            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
    </div>
    {{#if body}}
        <div class="body">
            <p>{{body}}</p>
        </div>
    {{/if}}
    <div class="modal_controls">
        <button type="button" class="cancel" tabindex=2>{{cancel}}</button>
        <button type="submit" class="submit" tabindex=1>{{ok}}</button>
    </div>
</div>