<ol>
{{#each breadcrumbs}}
    <li class="breadcrumb">
        {{#if url}}
            <a href="{{url}}" title="{{label}}">{{label}}</a>
            <span class="spacer"/>
        {{else}}
            {{#if dialog}}
                <a href="#" class="dialog" title="{{label}}" data-dialog="{{{dialog}}}">{{label}}</a>
            {{else}}
                <span class="slug" title="{{label}}">{{label}}</span>
            {{/if}}
        {{/if}}
    </li>
{{/each}}
</ol>
