<div class="chart_columns">
    {{#each columnGroups}}
    <div class="{{groupName}} field">
        <div class='labels'>
            <div class="label">{{label}}</div>
            <div class="column_hint">{{hint}}</div>
        </div>

        {{#if columnNames.length}}
        <select>
            {{#each columnNames}}
            <option value='{{this}}'>{{this}}</option>
            {{/each}}
        </select>
        {{#if secondaryOption}}
        {{chooserMenu secondaryOption.values className=groupName translationKey=secondaryOption.key }}
        {{/if}}
        {{else}}
        <span class='no_columns'>{{noColumnMessage}}</span>
        {{/if}}
    </div>
    {{/each}}
</div>

<div class="button_wrapper controls">
    <button class="create"
        {{#if noColumnsAvailable}}
        disabled="disabled"
        {{/if}}
        >{{t "dataset.visualization.sidebar.create_chart"}}</button>
    <button class="cancel hidden">{{t "actions.cancel"}}</button>
</div>
