{{#if loaded}}
<div class="search">
    <input type="text" placeholder="{{t "workfile.copy_dialog.search_placeholder"}}"/>
</div>
<div class="items">
    <ul>
     {{#each models}}
        <li data-id={{id}}><img src="{{imageUrl}}"/><span class="name">{{name}}</span></li>
     {{/each}}
    </ul>
</div>
{{else}}
    <div class="loading">{{t "loading"}}</div>
{{/if}}
