{{#if models.length}}
    <ul class="comments">
        {{#eachWithMoreLink models initialLimit "activity_stream.comments.more" "activity_stream.comments.less"}}
            <li data-comment-id="{{id}}" class="{{moreClass}} activity_item comment">
                <div class="icon">
                    <a href="{{authorShowUrl}}">
                        <img title="{{displayName}}" src="{{imageUrl}}"/>
                    </a>
                </div>
                <div class="comment_content">
                    <div class="comment_header">
                        <a href="{{{authorShowUrl}}}" class="author">{{displayName}}</a>
                    </div>
                    {{#if body}}
                        <div class="body">{{body}}</div>
                    {{/if}}
                    <div class="timestamp">{{relativeTimestamp timestamp}}</div>
                </div>
            </li>
        {{/eachWithMoreLink}}
    </ul>
{{/if}}
