{{#if models.length}}
    <ul class="comments">
        {{#eachWithMoreLink models initialLimit "activity_stream.comments.more" "activity_stream.comments.less"}}
        <li data-comment-id="{{id}}" class="{{moreClass}} activity_item comment media">
            <div class="icon">
                <a href="{{iconHref}}">
                    <img title="{{displayName}}" src="{{iconSrc}}"/>
                </a>
            </div>
            <div class="comment_content bd">
                <div class="comment_header">
                    {{{headerHtml}}}
                </div>
                {{#if body}}
                <div class="body">{{body}}</div>
                {{/if}}
                <div class="actions">
                    <span class="timestamp">{{relativeTimestamp timestamp}}</span>
                </div>
            </div>
        </li>
        {{/eachWithMoreLink}}
    </ul>
{{/if}}
