<div class="target_location">
    {{t "create_database_view.target"}}
    <span class="target_location_value">{{canonicalName}}</span>
</div>

<div class="input">
    <input id="create_database_view_name" type="text" name="name" tabindex="1" maxlength="64"/>
    <label for="create_database_view_name">{{t "create_database_view.name"}}</label>
</div>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{t "create_database_view.submit"}}</button>
</div>