{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span title="{{name}}">{{name}}</span>
                </a>
            </div>

            {{#if latestComment}}
                <div class="comment">
                    <div class="count">
                        {{t "dashboard.workspaces.recent_comments" latestCommentList.length}}
                    </div>
                    <div class="recent">
                        {{t "dashboard.workspaces.most_recent"}} <span class="date">{{latestCommentTime}}</span> by <span class="author">{{displayNameFromPerson latestComment.author}}</span>
                    </div>
                </div>
            {{/if}}
        </div>
        <span class="spacer"/>
    </li>
{{/each}}