{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer_left"/>
        <a class="image">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a href="{{showUrl}}" class="name" title="{{name}}">{{name}}</a>
            </div>
            <div class="browse">
                {{#if isHadoop}}
                    <a href="{{showUrl}}" class="browse">{{t "dashboard.instances.browse_files"}}</a>
                {{else}}
                    <a href="{{showUrl}}" class="browse">{{t "dashboard.instances.browse_datasets"}}</a>
                {{/if}}
            </div>
        </div>
        <span class="spacer_right"/>
    </li>
{{/each}}
