{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span title="{{name}}">{{name}}</span>
                </a>
            </div>

            <div class="details">

            </div>
        </div>
        <span class="spacer"/>
    </li>
{{/each}}