{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer_left"/>
        <a class="image">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <a href="{{showUrl}}" class="name" title="{{name}}">{{name}}</a>
        </div>
        <span class="spacer_right"/>
    </li>
{{/each}}
