{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer_left"/>
        <a class="image">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                {{#if isHadoop}}
                    <a href="#/instances/{{id}}/browse/" class="name" title="{{name}}">{{name}}</a>
                {{else}}
                    <span class="name" title="{{name}}">{{name}}</span>
                {{/if}}
            </div>
            <div class="browse">
                {{#if isHadoop}}
                    <a href="#/instances/{{id}}/browse/" class="browse_hadoop" >{{t "dashboard.instances.browse_files"}}</a>
                {{else}}
                    <a href="#" class="dialog" data-dialog="SchemaBrowser">{{t "dashboard.instances.browse_datasets"}}</a>
                {{/if}}
            </div>

       </div>
        <span class="spacer_right"/>
    </li>
{{/each}}
