{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer left"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span title="{{name}}">{{name}}</span>
                </a>
                <a href="#" class="dialog" data-dialog="BrowseDatasets">{{t "dashboard.instances.browse_datasets"}}</a>
            </div>

       </div>
        <span class="spacer right"/>
    </li>
{{/each}}
