<div class="brackets">
    <div class="brackets_top"></div>
    <div class="brackets_bottom"></div>
</div>
<select class="column_filter">
    {{#each models}}
        <option value="{{quotedName}}" data-type-category="{{typeCategory}}" {{#if disable}}disabled="disabled"{{/if}}>{{name}}</option>
    {{/each}}
</select>
<select class="comparator"/>

<span class="filter default hidden">
    <input class="validatable" name="value" type="text"/>
</span>

<span class="filter time hidden">
    <input class="validatable" name="value" type="text" placeholder="{{{t "dataset.filter.time_placeholder"}}}"/>
</span>

<span class="filter date hidden">
    <input class="validatable" name="month" type="text" placeholder="{{{t "dataset.filter.date_placeholder.month"}}}"/>
    <input class="validatable" name="day" type="text" placeholder="{{{t "dataset.filter.date_placeholder.day"}}}"/>
    <input class="validatable" name="year" type="text" placeholder="{{{t "dataset.filter.date_placeholder.year"}}}"/>
</span>

<a href="#" class="remove"><img src="/images/remove_icon.png"/></a>
