{{#each models}}
    <li>
        <span class="spacer left"></span>
        {{#if ../browsingSchema}}
            <div class="image"">
                <img src="{{iconImgUrl}}"/>
            </div>
        {{else}}
            <a class="image" href="{{showUrl}}">
                 <img src="{{iconImgUrl}}"/>
            </a>
        {{/if}}

        <div class="right">
            {{#if ../browsingSchema}}
                <div class="name_disabled">{{objectName}}</div>
            {{else}}
                <a href="{{showUrl}}" class="name">{{objectName}}</a>
            {{/if}}
            <div class="location">
                {{t "dataset.from"}} <a href="#">{{instance.name}}</a>
                 / <a href="#">{{databaseName}}</a>
                 / <a href="#">{{schemaName}}</a>
            </div>
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{{userProfileLink lastComment.creator}}}
                    <span class="comment_info">
                        {{t "comments.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "comments.other_comments" count=otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer right"></span>
    </li>
{{/each}}
