{{#each models}}
    <li>
        <span class="spacer left"></span>
        <div class="left"><img src="{{iconImgUrl}}" /></div>
        <div class="right">
            <a href="#" class="name">{{objectName}}</a>
            <div class="location">
                {{t "dataset.from"}} <a href="#">{{instance.name}}</a>
                 / <a href="#">{{databaseName}}</a>
                 / <a href="#">{{schemaName}}</a>
            </div>
        </div>
        <span class="spacer right"></span>
    </li>
{{/each}}
