<div class="definition">
    <button class="transform">{{t "dataset.content_details.transform"}}<span class="down_arrow"/></button>
    <div class="transform_options hidden">
        <ul class="transform_menu">
            <li><a href="#" class="visualize">{{t "dataset.content_details.visualize"}}</a></li>
        </ul>
    </div>
    
</div>
<div class="create_chart hidden">
    <a href="#" class="cancel">{{t "actions.cancel"}}</a>
    <span class="create">{{t "dataset.content_details.create"}}</span><span class="triangle_right"></span>
    <span data-chart_type="frequency" class="chart_icon frequency"><span class="triangle"></span></span>
    <span data-chart_type="histogram" class="chart_icon histogram"><span class="triangle"></span></span>
    <span data-chart_type="heatmap" class="chart_icon heatmap"><span class="triangle"></span></span>
    <span data-chart_type="timeseries" class="chart_icon timeseries"><span class="triangle"></span></span>
    <span data-chart_type="boxplot" class="chart_icon boxplot"><span class="triangle"></span></span>
    <span class="frequency title hidden">{{t "dataset.visualization.names.frequency"}}</span>
    <span class="histogram title hidden">{{t "dataset.visualization.names.histogram"}}</span>
    <span class="heatmap title hidden">{{t "dataset.visualization.names.heatmap"}}</span>
    <span class="timeseries title hidden">{{t "dataset.visualization.names.timeseries"}}</span>
    <span class="boxplot title hidden">{{t "dataset.visualization.names.boxplot"}}</span>
</div>
<div class="info_bar hidden">
{{t "dataset.visualization.info_bar"}}
</div>
<div class="column_count">
    <span class="count">{{t "dataset.column_count" count=models.length}}</span>
    <div class="right">
        <a href="#" class="preview">{{t "dataset.data_preview"}}</a>
    </div>
</div>
<div class="data_preview hidden"/>
<div class="filters hidden"/>
