{{#if objectName}}
    <div class="info">
        <div title="{{objectName}}" class="name">{{objectName}}</div>
        <div class="type">{{typeString}}</div>
    </div>

    <div class="tab_control"></div>
    <div class="tabbed_area">
        <div class="activity_list"></div>
        <div class="statistics_detail">
            <h2>
                <div class='title'>{{t "dataset.statistics.dataset"}}:</div>
                <div class="table_name">{{objectName}}</div>
            </h2>
            {{#if statistics}}
                <div class="statistics">
                    {{#if typeString}}
                        <div class="pair">
                            <div class="key">{{t "dataset.statistics.type"}}</div>
                            <div class="value" title="{{{typeString}}}">{{{typeString}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.rows}}
                        <div class="pair">
                            <div class="key">{{t "dataset.statistics.rows"}}</div>
                            <div class="value" title="{{{typeString}}}">{{{statistics.rows}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.columns}}
                        <div class="pair">
                            <div class="key">{{t "dataset.statistics.columns"}}</div>
                            <div class="value" title="{{{typeString}}}">{{{statistics.columns}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.onDiskSize}}
                        <div class="pair">
                            <div class="key">{{t "dataset.statistics.size"}}</div>
                            <div class="value" title="{{{typeString}}}">{{{statistics.onDiskSize}}}</div>
                        </div>
                    {{/if}}
                </div>
                <div class='description'>
                    <h4>{{t "dataset.statistics.Description"}}</h4>
                    <p>
                        {{statistics.desc}}
                    </p>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}