{{#if objectName}}
    <div class="info">
        <div title="{{objectName}}" class="name">{{objectName}}</div>
        <div class="type">{{typeString}}</div>
    </div>

    <div class="actions">
        <ul>
            <li><a class="dialog" href="#" data-entity-id="{{entityId}}" data-entity-type="{{entityType}}" data-display-entity-type="{{displayEntityType}}" data-allow-workfile-attachments="false" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
            <li class="dataset_preview"><a class="dialog dataset_preview" href="#" data-dialog="DatasetPreview">{{t "actions.dataset_preview"}}</a></li>
        </ul>
    </div>

    <div class="tab_control"></div>
    <div class="tabbed_area">
        <div class="activity_list"></div>
        <div class="statistics_detail">
            <h2>
                <div class='title'>{{t "dataset.statistics.dataset"}}:</div>
                <div class="table_name">{{objectName}}</div>
            </h2>
            {{#if statistics}}
                <div class="statistics">
                    {{#if typeString}}
                        <div class="pair">
                            <div class="key">{{t "dataset.statistics.type"}}</div>
                            <div class="value table_type" title="{{{typeString}}}">{{{typeString}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.partitions}}
                        <div class="pair partitions">
                            <div class="key">{{t "dataset.statistics.partitions"}}</div>
                            <div class="value" title="{{{statistics.partitions}}}">{{{statistics.partitions}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.columns}}
                        <div class="pair columns">
                            <div class="key">{{t "dataset.statistics.columns"}}</div>
                            <div class="value" title="{{{statistics.columns}}}">{{{statistics.columns}}}</div>
                        </div>
                    {{/if}}
                    {{#if statistics.lastAnalyzedTime}}
                        <div class="pair last_analyzed_time">
                            <div class="key">{{t "dataset.statistics.last_analyzed_time"}}</div>
                            <div class="value" title="{{{relativeTimestamp statistics.lastAnalyzedTime}}}">{{{relativeTimestamp statistics.lastAnalyzedTime}}}</div>
                        </div>
                        {{#if statistics.rows}}
                            <div class="pair rows">
                                <div class="key">{{t "dataset.statistics.rows"}}</div>
                                <div class="value" title="{{{statistics.rows}}}">{{{statistics.rows}}}</div>
                            </div>
                        {{/if}}
                    {{/if}}
                    {{#if statistics.onDiskSize}}
                        <div class="pair size">
                            <div class="key">{{t "dataset.statistics.size"}}</div>
                            <div class="value" title="{{{statistics.onDiskSize}}}">{{{statistics.onDiskSize}}}</div>
                        </div>
                    {{/if}}
                </div>
                {{#if statistics.desc}}
                    <div class='description'>
                        <h4>{{t "dataset.statistics.Description"}}</h4>
                        <p>
                            {{statistics.desc}}
                        </p>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
{{/if}}
