{{#each models}}
    <li {{#if model.selected}}class="selected"{{/if}} data-cid={{model.cid}}>
        <span class="spacer_left"></span>
        <div class="text right">
            <div class="main">
                {{#if ../view.showDatasetName}}
                    <span class="aliased_name"><span class="letter">{{model.tabularData.aliasedName}}</span></span>
                {{/if}}
                <span class="name"><span>{{name}}</span></span>
            </div>
            <div class="summary">{{comment}}</div>
        </div>
        <div class="type {{typeClass}}"><span class="left"/><span class="type_name">{{typeString}}</span><span class="right"/></div>
        <span class="spacer_right"></span>
    </li>
{{/each}}
