<input class="search" />
<div class="context">{{t "schema.functions.search_in" schemaName=schemaName}}</div>
{{#if models.length}}
    <ul class="list">
        {{#each models}}
            <li title="{{functionName}}" data-fun_cid="{{cid}}">
                <span class="spacer left"/>
                <img src="images/function.png">
                <div class="name">{{functionName}}</div>
                <span class="spacer right"/>
            </li>
        {{/each}}
    </ul>
{{else}}
    <div class="none_found">{{t "schema.functions.none_found"}}</div>
{{/if}}
