<fieldset>
    <legend>
        {{t "dataset.chorusview.sidebar.title"}}
    </legend>
    <ul class="actions">
        <li><a href="#" class="dialog preview" data-dialog="SqlPreview">{{t "dataset.preview_sql"}}</a></li>
        <li><a href="#" class="dialog add_join" data-dialog="ManageJoinTables">{{t "dataset.chorusview.sidebar.add_join"}}</a></li>
    </ul>

    <div class="selected_columns">
        <div class="non_empty_selection hidden">
            <span class="title">{{t "dataset.chorusview.sidebar.selected_columns"}}</span>
            <div class="dataset">
                <span class="dataset_number">{{resource.datasetNumber}}</span><span class="label">{{t "dataset.statistics.dataset"}}:</span> <span class="name" title="{{objectName}}">{{objectName}}</span>
            </div>
            <ul class="columns"></ul>
        </div>
        <div class="empty_selection notice">
            <span class="top"><label>{{t "dataset.chorusview.sidebar.empty_selection.title"}}</label></span>
            <span class="bottom">{{t "dataset.chorusview.sidebar.empty_selection.text"}}</span>
        </div>
    </div>

    <div class="button_wrapper">
        <button class="create" disabled="disabled">{{t "dataset.chorusview.sidebar.create_chorus_view"}}</button>
    </div>
</fieldset>
