{{#each models}}
    {{#if noCredentials}}
    <li class="dataset no_credentials">
    {{else}}
    <li class="dataset">
    {{/if}}
        <span class="spacer_left"></span>
        {{#if activeWorkspace}}
            {{#if noCredentials}}
                <span class="image">
                    <img src="{{iconImgUrl}}" title="{{humanizedTabularDataType this}}"/>
                </span>
            {{else}}
                <a class="image" href="{{showUrl}}">
                     <img src="{{iconImgUrl}}" title="{{humanizedTabularDataType this}}"/>
                </a>
            {{/if}}
        {{else}}
            <span class="image">
                <img src="{{iconImgUrl}}" title="{{humanizedTabularDataType this}}"/>
            </span>
        {{/if}}

        <div class="right">

            {{importFrequencyTag importFrequency}}

            {{#if noCredentials}}
                <span class="name">{{objectName}}</span>
            {{else}}
                {{#if activeWorkspace}}<a href="{{showUrl}}" class="name">{{/if}}
                {{objectName}}
                {{#if activeWorkspace}}</a>{{/if}}
            {{/if}}
            <div class="location">
                {{tabularDataLocation model}}
            </div>
            {{usedInWorkspaces workspaces dataset}}
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{userProfileLink lastComment.creator}}
                    <span class="comment_info">
                        {{t "comments.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "comments.other_comments" count=otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer_right"></span>
    </li>
{{/each}}
