{{#each models}}
    {{#if noCredentials}}
    <li class="no_credentials">
    {{else}}
    <li>
    {{/if}}
        <span class="spacer left"></span>
        {{#if noCredentials}}
            <span class="image">
                <img src="{{iconImgUrl}}"/>
            </span>
        {{else}}
            <a class="image" href="{{showUrl}}">
                 <img src="{{iconImgUrl}}"/>
            </a>
        {{/if}}

        <div class="right">
            {{#if noCredentials}}
                <span class="name">{{objectName}}</span>
            {{else}}
                <a href="{{showUrl}}" class="name">{{objectName}}</a>
            {{/if}}
            <div class="location">
                {{t "dataset.from"}}
                {{#if noCredentials}}
                    {{instance.name}}.{{databaseName}}.{{schemaName}}
                {{else}}
                    <a href="#" class="dialog instance" data-dialog="BrowseDatasets">{{instance.name}}</a>.{{! suppress whitespace
                    }}<a href="#" class="dialog database" data-dialog="BrowseDatasets" data-database-name="{{databaseName}}">{{databaseName}}</a>.{{! suppress whitespace
                    }}<a href="{{{schemaShowUrl}}}" class="schema">{{schemaName}}</a>
                {{/if}}
            </div>
            {{{usedInWorkspaces workspaceUsed}}}
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{{userProfileLink lastComment.creator}}}
                    <span class="comment_info">
                        {{t "comments.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "comments.other_comments" count=otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer right"></span>
    </li>
{{/each}}
