{{#each models}}
    <li>
        <div><img src="{{iconImgUrl}}" /></div>
        <div>
            <a href="#" class="name">{{objectName}}</a>
            <div class="location">
                {{t "dataset.from"}} <a href="#">{{instance.name}}</a>
                /<a href="#">{{databaseName}}</a>
                /<a href="#">{{schemaName}}</a>
            </div>
        </div>
    </li>
{{/each}}
