{{#if schemaAssociated}}
{{#if noCredentials}}
    <div class="notice no_credentials"><span class="bottom">{{noCredentialsWarning}}</span></div>
{{/if}}
<input class="search" placeholder='{{t "schema.functions.list.hint"}}'/>
<div class="context">{{safeT "schema.functions.search_in" schemaLink=schemaLink}}</div>
{{#if models}}{{#if models.length}}
    <ul class="list">
        {{#each models}}
            <li data-cid="{{cid}}">
                <span class="spacer_left"/>
                <img src="images/function.png">
                <div class="name" title="{{hintText}}">{{functionName}}</div>
                <span class="spacer_right"/>
            </li>
        {{/each}}
    </ul>
{{else}}
    <div class="none_found">{{t "schema.functions.none_found"}}</div>
{{/if}}{{/if}}

<div class="schema_menu_container">
    <ul class="schema_menu">
        {{#each schemas}}
            <li>
                {{#if isCurrent}}
                    <div class="check"></div>
                {{/if}}
                <a class="schema" data-id="{{id}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
{{else}}
    <div class="empty_selection notice">
        <span class="top">{{t "database.sidebar.no_schema.title"}}</span>
        <span class="bottom">{{t "database.sidebar.no_schema.text"}}</span>
    </div>
{{/if}}