{{#each models}}
    {{#if noCredentials}}
    <li class="no_credentials">
    {{else}}
    <li>
    {{/if}}
        <span class="spacer_left"></span>
        {{#if noCredentials}}
            <span class="image">
                <img src="{{iconImgUrl}}"/>
            </span>
        {{else}}
            <a class="image" href="{{showUrl}}">
                 <img src="{{iconImgUrl}}"/>
            </a>
        {{/if}}

        <div class="right">

            {{#if importFrequency}}
            <span class="tag import_frequency">
                <span class="arrow_left"></span><span class="tag_name">{{importFrequency}}</span>
            </span>
            {{/if}}

            {{#if noCredentials}}
                <span class="name">{{objectName}}</span>
            {{else}}
                <a href="{{showUrl}}" class="name">{{objectName}}</a>
            {{/if}}
            <div class="location">
                {{{tabularDataLocation model}}}
            </div>
            {{{usedInWorkspaces workspaces dataset}}}
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{{userProfileLink lastComment.creator}}}
                    <span class="comment_info">
                        {{t "comments.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "comments.other_comments" count=otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer_right"></span>
    </li>
{{/each}}
