<fieldset>
    <legend>{{t "dataset.visualization.sidebar.chart_display_settings"}}</legend>
    <div>
        <div class="category field">
            <div class='labels'>
                <label>{{t "dataset.visualization.sidebar.category"}}</label>
                <span class="column_hint">{{t "dataset.visualization.sidebar.hint.category"}}</span>
            </div>

            {{#if allColumnNames.length}}
            <select>
                {{#each allColumnNames}}
                <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>
            {{{range_chooser}}}
            {{else}}
            <span class='no_columns'>{{t "dataset.visualization.sidebar.no_columns"}}</span>
            {{/if}}
        </div>
    </div>
    <button class="create dialog" data-chart_type="{{{chartType}}}" data-name="{{{tableName}}}"
            data-dialog="Visualization">{{t "dataset.visualization.sidebar.create_chart"}}
    </button>
</fieldset>