{{#each models}}
    <li>
        <span class="spacer left"/>
        <img src="{{iconUrl}}"/>
        <div class="description">
            {{#if isDir}}
                <a class="name" href="{{showUrl}}">{{name}}</a>
                <span class="dir">{{dirInfo}}</span>
            {{else}}
                <span class="name">{{name}}</span>
                <span class="size">{{humanSize}}</span>
            {{/if}}
        </div>
        <span class="spacer right"/>
    </li>
{{/each}}