<div class="info">
    <div title="{{name}}" class="name">{{name}}</div>
    <div class="last_updated">{{lastUpdatedStamp}}</div>
</div>

<div class="actions">
    <ul>
        {{#unless isDir}}
        <li><a class="dialog add_note" href="#" data-entity-id="{{encodedEntityId}}" data-entity-type="hdfs" data-allow-workspace-attachments="false" data-display-entity-type='{{t "hdfs.file_lower"}}' data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
        {{/unless}}
    </ul>
</div>

<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"></div>
</div>
