<div class="left">
    <div class="logo">
        <a href="#/"><img src="/images/headertitle.png"/></a>
    </div>
</div>
<div class="right">
    <div class="username">
        <a href="#" title="{{fullName}}"><span>{{displayName}}</span><img src="/images/menu-indicator.png"/></a>
    </div>
    <div class="menu hidden popup_username">
        <div class="pointer"/>
        <ul>
            <li><a href="{{userUrl}}">{{t "header.your_profile"}}</a></li>
            <li><a href="#/users">{{t "header.users_list"}}</a></li>
            <li><a href="#/instances">{{t "header.instances"}}</a></li>
            <li><a href="#/logout">{{t "header.sign_out"}}</a></li>
        </ul>
    </div>
    <div class="messages">
        <div class="notifications">
            <a href="#" title="notifications">{{notifications.length}}</a>
        </div>
    </div>
    <div class="menu hidden popup_notifications">
        <div class="pointer"/>
        <ul>
            {{#each notifications}}
                <li>Notification!</li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="search">
    <input type="text" placeholder="{{t "header.search.placeholder"}}"/>
</div>
