<div class="left">
    <div class="logo">
        <a href="#/">Greenplum<em>Chorus</em></a>
    </div>
    <div class="messages">
        {{t "header.messages"}}
    <a href="#" class="alerts" title="alerts">2</a>
</div>
</div>
<div class="right">
    <div class="username">
        <a href="#">{{fullName}}</a>
    </div>
    <div class="menu hidden">
        <div class="pointer"/>
        <a href="#/logout">{{t "header.sign_out"}}</a>
    </div>
    <div class="account">{{t "header.account"}}</div>
</div>
<div class="search">
    <input type="text" class="search" placeholder="{{t "header.search.placeholder"}}"/>
</div>
