<div class="row">
    <select name="scheduleFrequency" class="frequency"
        {{#unless enable}}
            disabled="disabled"
        {{/unless}}
        >
        <option value="DAILY">{{t "import.frequency.daily"}}</option>
        <option value="WEEKLY" selected="selected">{{t "import.frequency.weekly"}}</option>
        <option value="MONTHLY">{{t "import.frequency.monthly"}}</option>
    </select>

    <select class="hours"
        {{#unless enable}}
            disabled="disabled"
        {{/unless}}
        >
    {{#each hours}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>

    <select class="minutes"
        {{#unless enable}}
            disabled="disabled"
        {{/unless}}
        >
    {{#each minutes}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>

    <select class="ampm"
        {{#unless enable}}
            disabled="disabled"
        {{/unless}}
        >
        <option value="0">{{t "import.ampm.am"}}</option>
        <option value="12">{{t "import.ampm.pm"}}</option>
    </select>
</div>

<div class="row date start">
    <span class="label">{{t "import.start.label"}}</span>
    <input type="text" name="month" placeholder='{{{t "datepicker.placeholder.month"}}}' value="{{{start.month}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />

    <input type="text" name="day" placeholder='{{{t "datepicker.placeholder.day"}}}' value="{{{start.day}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />
    <input type="text" name="year" placeholder='{{{t "datepicker.placeholder.year"}}}' value="{{{start.year}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />
</div>

<div class="row date end">
    <span class="label">{{t "import.end.label"}}</span>
    <input type="text" name="month" placeholder='{{{t "datepicker.placeholder.month"}}}' value="{{{end.month}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />
    <input type="text" name="day" placeholder='{{{t "datepicker.placeholder.day"}}}' value="{{{end.day}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />
    <input type="text" name="year" placeholder='{{{t "datepicker.placeholder.year"}}}' value="{{{end.year}}}"
            {{#unless enable}}
                disabled="disabled"
            {{/unless}}
            />
</div>