<div class="destination">{{t "import_now.destination" canonicalName=canonicalName}}</div>

<div class="new_table">
    <fieldset>
        <legend class="row">
            <input type="radio" name="imports" id="import_scheduler_new_table" checked="checked"/>
            <label class="main" for="import_scheduler_new_table">{{t "import_now.new_table"}}</label>
            <input type="text" class="name" name="toTable"/>
        </legend>

        <div class="inputs">
            <input type="hidden" name="truncate" value="false"/>
            <input type="hidden" name="createTableIfNotExist" value="true"/>
            <div class="row limit">
                <input type="checkbox" name="limit_num_rows" id="import_scheduler_limit_rows_new"/>
                <label for="import_scheduler_limit_rows_new">{{t "import_now.limit_rows"}}</label>
                <input class="row_limit" type="text" name="rowLimit" disabled="disabled"/>
            </div>
        </div>
    </fieldset>
</div>

<div class="existing_table">
    <fieldset class="disabled">
        <legend class="row">
            <input type="radio" name="imports" id="import_scheduler_existing_table"/>
            <label class="main" for="import_scheduler_existing_table">{{t "import_now.existing_table"}}</label>
            <select class="names" disabled="disabled" name="toTable">
                {{#each sandboxTables}}
                    <option value="{{{this}}}">{{this}}</option>
                {{/each}}
            </select>
        </legend>

        <div class="inputs">
            <input type="hidden" name="createTableIfNotExist" value="false"/>
            <div class="row">
                <input type="checkbox" class="truncate" name="truncate" id="import_scheduler_truncate"/>
                <label for="import_scheduler_truncate">{{t "import_now.truncate"}}</label>
            </div>
            <div class="row limit">
                <input type="checkbox" name="limit_num_rows" id="import_scheduler_limit_rows_existing"/>
                <label for="import_scheduler_limit_rows_existing">{{t "import_now.limit_rows"}}</label>
                <input class="row_limit" type="text" name="rowLimit" disabled="disabled"/>
            </div>
        </div>
    </fieldset>
</div>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" disabled="disabled" tabindex="99">{{submitText}}</button>
</div>