<div class="total_usage">{{t "instances.usage.total" size=usage.sandboxesSize}}</div>

<ul>
    {{#each usage.workspaces}}
    <li>
        <img src='/images/workspace-icon-small.png'></img>
        <div class="details">
            <a class="workspace_link" href="#">{{workspaceName}}</a>
            <div class="usage_bar">
                <div class="used" style="width: 50%;"></div>
            </div>
            <div class="pair location">
                <div class="key">{{t "instances.usage.location"}}</div>
                <div class="value">{{databaseName}}/{{schemaName}}</div>
            </div>
            <div class="pair owner">
                <div class="key">{{t "instances.usage.owner"}}</div>
                <div class="value">{{ownerFullName}}</div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>

<div class="modal_controls">
    <button type="button" class="cancel">{{t "actions.close_window"}}</button>
</div>