{{#if name}}
<div class="info">
    <div class="instance_name" title="{{name}}">{{name}}</div>
    <div class="instance_type" title="{{instanceProvider}}">{{instanceProvider}}</div>
</div>
<div class="account_info">
    {{#if dbUserName}}
        <img src="/images/instances/shared_icon.png"/>
        {{t "instances.sidebar.is_shared_account"}}
        <a href="#" class="dialog" data-dialog="InstancePermissions">Edit</a>
    {{else}}
        (This doesn't look like a shared account)
    {{/if}}
</div>
<div class="actions">
    <ul>
        <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="instance" data-allow-workfile-attachments="false" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
    </ul>
</div>
<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"></div>
    <div class="configuration_detail">
        <dl>
            {{#if host}}
                <dt>{{t "instances.sidebar.host"}}</dt>
                <dd title="{{{host}}}">{{{host}}}</dd>
                <br />
            {{/if}}
            {{#if port}}
                <dt>{{t "instances.sidebar.port"}}</dt>
                <dd title="{{{port}}}">{{{port}}}</dd>
                <br />
            {{/if}}
            {{#if size}}
                <dt>{{t "instances.sidebar.size"}}</dt>
                <dd title="{{{size}}}">{{{size}}}GB</dd>
                <br />
            {{/if}}
            {{#if dbUserName}}
                <dt>{{t "instances.shared_account"}}</dt>
                <dd title="{{{dbUserName}}}">{{{dbUserName}}}</dd>
            {{/if}}
        </dl>
    </div>
</div>
{{/if}}
