{{#if name}}
<div class="info">
    <div class="instance_name" title="{{name}}">{{name}}</div>
    <div class="instance_type" title="{{instanceProvider}}">{{instanceProvider}}</div>
</div>
<div class="actions">
    <ul>
        <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="instance" data-workfile-attachments="false" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
    </ul>
</div>
<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"></div>
    <div class="configuration_detail">
        <dl>
            <dt>{{t "instances.sidebar.host"}}</dt>
            <dd title="{{{host}}}">{{{host}}}</dd>
            <br />
            <dt>{{t "instances.sidebar.port"}}</dt>
            <dd title="{{{port}}}">{{{port}}}</dd>
            <br />
            {{#if dbUserName}}
                <dt>{{t "instances.sidebar.shared_account"}}</dt>
                <dd title="{{{dbUserName}}}">{{{dbUserName}}}</dd>
            {{/if}}
        </dl>
    </div>
</div>
{{/if}}
