<fieldset class="collapsed register_existing_greenplum">
    <legend>
        <input type="radio" name="instance_type" id="register_existing_greenplum"/>
        <label for="register_existing_greenplum">{{t "instances.new_dialog.register_existing_greenplum"}}</label>
        <img src="/images/more-info.png"/>
    </legend>
    <div><form>
        <input type="hidden" name="provisionType" value="register" />
        <label class="required">{{t "instances.dialog.instance_name"}}</label>
        <input type="text" name="name"/>

        <label>{{t "instances.dialog.description"}}</label>
        <textarea rows="3" name="description"/>

        <label class="required">{{t "instances.dialog.host"}}</label>
        <input type="text" name="host"/>

        <label class="required">{{t "instances.dialog.port"}}</label>
        <input type="text" name="port"/>

        <label class="required">{{t "instances.dialog.database_account"}}</label>
        <input type="text" name="dbUserName" maxlength="256"/>

        <label class="required">{{t "instances.dialog.database_password"}}</label>
        <input type="password" name="dbPassword" maxlength="256"/>

        <input type="checkbox" name="shared" id="register_greenplum_shared"/>
        <label for="register_greenplum_shared">{{t "instances.dialog.is_community_account"}} <img src="/images/more-info.png"/></label>
    </form></div>
</fieldset>

<fieldset class="collapsed create_new_greenplum">
    <legend>
        <input type="radio" name="instance_type" id="create_new_greenplum"/>
        <label for="create_new_greenplum">{{t "instances.new_dialog.create_new_greenplum"}}</label>
        <img src="/images/more-info.png"/>
    </legend>
    <div>
        <label class="required">{{t "instances.dialog.instance_name"}}</label>
        <input type="text" name="name"/>

        <label>{{t "instances.dialog.description"}}</label>
        <textarea rows="3" name="description"/>

        <label class="required">{{t "instances.dialog.host"}}</label>
        <input type="text" name="host"/>

        <label class="required">{{t "instances.dialog.port"}}</label>
        <input type="text" name="port"/>

        <label class="required">{{t "instances.dialog.database_account"}}</label>
        <input type="text" name="database_account"/>

        <label class="required">{{t "instances.dialog.database_password"}}</label>
        <input type="password" name="database_password"/>

        <input type="checkbox" name="is_community_account" id="is_community_account"/>
        <label for="is_community_account">{{t "instances.dialog.is_community_account"}}</label>
    </div>
</fieldset>

<fieldset class="collapsed register_existing_hadoop">
    <legend>
        <input type="radio" name="instance_type" id="register_existing_hadoop"/>
        <label for="register_existing_hadoop">{{t "instances.new_dialog.register_existing_hadoop"}}</label>
        <img src="/images/more-info.png"/>
    </legend>
    <div>
        <label class="required">{{t "instances.dialog.instance_name"}}</label>
        <input type="text" name="name"/>

        <label class="required">{{t "instances.dialog.description"}}</label>
        <textarea rows="3" name="description"/>

        <label class="required">{{t "instances.dialog.host"}}</label>
        <input type="text" name="host"/>

        <label class="required">{{t "instances.dialog.port"}}</label>
        <input type="text" name="port"/>

        <label class="required">{{t "instances.dialog.database_account"}}</label>
        <input type="text" name="database_account"/>

        <label class="required">{{t "instances.dialog.database_password"}}</label>
        <input type="text" name="database_password"/>

        <input type="checkbox" name="is_community_account" id="is_community_account"/>
        <label for="is_community_account">{{t "instances.dialog.is_community_account"}}</label>
    </div>
</fieldset>


<div class="controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{t "instances.new_dialog.save"}}</button>
</div>