<div class="sub_header">
    <span class="details_text">{{t "instances.shared_account"}}</span>
    <a href="#" class="alert" data-alert="RemoveSharedAccount">{{t "instances.permissions_dialog.switch_to_individual"}}</a>
</div>
<div class="collection_list">
    <ul>
        <li data-id={{ownerId}}>
            <div class="image">
                <img class="profile" src="{{ownerImageUrl}}"/>
            </div>
            <div class="name" title="{{ownerFullName}}">{{ownerFullName}}</div>
            <div class="links">
                <span class="owner">{{t "instances.permissions.owner"}}</span>
                <a href="#" class="edit">{{t "instances.permissions.edit"}}</a>
            </div>
            <div class="credentials">
                <div class="field_wrapper">
                    <label>{{t "instances.permissions.username"}}</label>
                    <input type="text" name="dbUserName" maxlength="256" value="{{sharedAccount.dbUserName}}"/>
                </div>
                <div class="field_wrapper">
                    <label>{{t "instances.permissions.password"}}</label>
                    <input type="password" maxlength="256" name="dbPassword"/>
                </div>
                <div class="actions">
                    <a href="#" class="save">{{t "actions.save_changes"}}</a><a href="#" class="cancel">{{t "actions.cancel"}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="controls">
    <button type="button" class="cancel" tabindex=3>{{t "actions.close_window"}}</button>
</div>

