{{#if loaded}}
    {{#unless hideCounts}}
        <div class="count">
            {{entityTypePluralization}}
        </div>
    {{/unless}}

    {{#if multiPage}}
        <div class="pagination">
            {{#unless hideCounts}}
                <div class="page">
                    {{t "pagination.page"}} <span class="current">{{pagination.page}}</span> {{t "pagination.of"}} <span class="total">{{pagination.total}}</span>
                </div>
            {{/unless}}

            <div class="links">
                {{#if prevPage}}
                    <a class="previous"><span>{{t "pagination.previous"}}</span></a>
                {{else}}
                    <span class="previous">{{t "pagination.previous"}}</span>
                {{/if}}
                {{#if nextPage}}
                    <a class="next"><span>{{t "pagination.next"}}</span></a>
                {{else}}
                    <span class="next">{{t "pagination.next"}}</span>
                {{/if}}
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="loading">{{t "loading"}}</div>
{{/if}}
{{#each buttons}}
    {{#if view}}
        <button type="button" class="dialog" data-dialog="{{view}}"
        {{#each dataAttributes}}
            data-{{name}}="{{value}}"
        {{/each}}
        {{#if disabled}}
            disabled="disabled"
        {{/if}}
        >{{text}}</button>
        {{#if helpText}}
            <img class="help" src="/images/more-info.png" data-text="{{helpText}}"/>
        {{/if}}
    {{else}}
        {{#if url}}
            <a class="button" href="{{url}}">{{text}}</a>
        {{/if}}
    {{/if}}
{{/each}}