{{#each buttons}}
    {{#if view}}
        <button type="button" class="dialog" data-dialog="{{view}}"
        {{#each dataAttributes}}
            data-{{name}}="{{value}}"
        {{/each}}
        {{#if disabled}}
            disabled="disabled"
        {{/if}}
        >{{text}}</button>
        {{#if helpText}}
            <img class="help" src="/images/more-info.png" data-text="{{helpText}}"/>
        {{/if}}
    {{else}}
        {{#if url}}
            <a class="button" href="{{url}}">{{text}}</a>
        {{/if}}
    {{/if}}
{{/each}}

{{#if loaded}}
    <div class="pagination">
        {{#unless hideCounts}}
            <div class="page">
                {{t "pagination.page"}} <span class="current"></span> {{t "pagination.of"}} <span class="total"></span>
            </div>
        {{/unless}}

        <div class="links">
            <a class="previous"><span>{{t "pagination.previous"}}</span></a>
            <span class="previous">{{t "pagination.previous"}}</span>

            <a class="next"><span>{{t "pagination.next"}}</span></a>
            <span class="next">{{t "pagination.next"}}</span>
        </div>
    </div>
{{/if}}

{{#if search}}
    <span class="explore">{{t "dataset.explore"}}</span>
    <div class="chorus_search_container">
        <input type="text" class="search chorus_search" placeholder="{{search}}"/>
        <a href="#" class="chorus_search_clear hidden"><img src="/images/icon_clear_search.png"/></a>
    </div>
{{/if}}

{{#if loaded}}
    {{#unless hideCounts}}
        <div class="count"></div>
    {{/unless}}
{{else}}
    <div class="loading">{{t "loading"}}</div>
{{/if}}
