<img class="logo" src="images/logo-large.png"></img>
<div class="card">
{{> errorDiv }}
<form class="login" action="/edc/auth/login/" method="post">
    <h1>{{t "login.title"}}</h1>
    <div class="content">
        <label for="userName">{{t "login.username"}}</label>
        <input type="text" name="userName" id="userName" maxlength="256"/>

        <label for="password">{{t "login.password"}}</label>
        <input type="password" name="password" id="password" maxlength="256"/>
    </div>
    <div class="controls">
        <button type="submit">{{t "login.button"}}</button>
    </div>
</form>
</div>
<footer>
<div class="legal">
    {{t "login.copyright"}} <a href="http://www.greenplum.com">Greenplum</a>. {{t "login.rights"}}
</div>
<div class="version">{{t "login.version"}} 0.9.0</div>
</footer>