<div class="sub_header">
    <span class="canonical_name">{{canonicalName}}</span>
</div>
<div class="join_pagination content_details"></div>
<ul class="list">
    {{#each models}}
        <li data-cid="{{model.cid}}">
            <span class="spacer left"/>

            <div class="actions
                {{#if original}}
                original
                {{/if}}
            ">
                <a href="#" class="preview_columns">{{t "dataset.manage_join_tables.preview_columns"}}</a>
                <span class="separator">|</span>
                <a class="join" href="#">
                    {{#if isView}}
                        {{t "dataset.manage_join_tables.join_view"}}
                    {{else}}
                        {{t "dataset.manage_join_tables.join_table"}}
                    {{/if}}
                </a>
            </div>

            <img class="image" src="{{iconUrl}}"/>

            <div class="text">
                <div class="main">
                    <span class="name">{{objectName}}</span>
                </div>
                <div class="details">
                    <span class="column_count">{{pluralize columns "dataset.manage_join_tables.column_count" count=columns}}</span>
                </div>
            </div>
        </li>
    {{/each}}
</ul>

<div class="join_configuration hidden"></div>

<div class="modal_controls">
    <button class="cancel">{{t "dataset.manage_join_tables.done"}}</button>
</div>
