<form action="#">
    <div class="preview_bar">
        <input type="text" name="objectName" placeholder='{{t "dataset.name_chorus_view.placeholder"}}' tabindex="1" maxlength="64" value="{{objectName}}"></input>
        <button class="preview">{{t "dataset.data_preview"}}</button>
    </div>
    <div class="results_console"></div>

    <div class="sql">
        <textarea class="text_editor">{{query}}</textarea>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "dataset.name_chorus_view.create"}}</button>
    </div>
</form>