<form action="#">
    <div class="name_input">
        <label for="name_chorus_view_name">{{t "dataset.name_chorus_view.name"}}</label>
        <input id="name_chorus_view_name" type="text" name="objectName" placeholder='{{t "dataset.name_chorus_view.placeholder"}}' tabindex="1" maxlength="64" value="{{objectName}}"></input>
    </div>

    <div class="preview_bar">
        <button class="preview">{{t "dataset.data_preview"}}</button>
    </div>
    <div class="results_console"></div>

    <div class="sql">
        <textarea class="text_editor">{{query}}</textarea>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "dataset.name_chorus_view.create"}}</button>
    </div>
</form>