<form action="{{formUrl}}">
    <textarea class="required" name="body" placeholder="{{t "notes.placeholder" entityType}}" tabindex="1" maxlength="256">{{body}}</textarea>

    <div class="options_text">
        <a href="#" class="show_options">{{t "notes.new_dialog.show_options"}}</a> {{t "notes.new_dialog.show_options_details"}}
    </div>
    <div class="options_area">
        <div class="row">
            <span class="label">{{t "notes.new_dialog.attach"}}</span>
            <span>
                <span class="file-wrapper">
                    <a>{{t "notes.new_dialog.desktop_file"}}</a>
                    <input type="file" name="fileToUpload"/>
                </span>
                |
                <a href="#" class="workfile">{{t "notes.new_dialog.work_file"}}</a>
            </span>
        </div>
        <div class="row file_details hidden">
            <span class="label"></span>
            <span>
                <img />
                <span class="file_name"></span>
                <a href="#" class="remove">{{t "actions.remove"}}</a>
            </span>
        </div>

    </div>

    <div class="controls">
        <button type="button" class="cancel" tabindex=3>{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex=2>{{t "notes.button.create"}}</button>
    </div>
</form>
