<form action="{{formUrl}}">
    <textarea class="required" name="body" placeholder="{{{placeholder}}}" tabindex="1" maxlength="256">{{body}}</textarea>

    <div class="options_text">
        <a href="#" class="show_options">{{t "notes.new_dialog.show_options"}}</a> {{t "notes.new_dialog.show_options_details"}}
    </div>
    <div class="options_area hidden">
        <div class="row attachment_links">
            <span class="label">{{t "notes.new_dialog.attach"}}</span>
            <span>
                <span class="file-wrapper">
                    <a>{{t "notes.new_dialog.desktop_file"}}</a>
                    <input type="file" name="fileToUpload[]" multiple="" />
                </span>
                {{#if allowWorkfileAttachments}}
                <span class="separator">|</span>
                <a href="#" class="add_workfile">{{t "notes.new_dialog.work_file"}}</a>
                {{/if}}
            </span>
        </div>
    </div>

    <div class="notification_recipients"/>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex=3>{{t "actions.cancel"}}</button>
        <button type="button" class="cancel_upload hidden" tabindex=3>{{t "notes.new_dialog.cancel_upload"}}</button>
        <button type="submit" class="submit" tabindex=2>{{submitButton}}</button>
    </div>
</form>
