<div>
    <h1>{{t "results_console_view.title"}}</h1>
    <a href="#">{{t "results_console_view.new_window"}}</a>
    <div class="right">
        <span class="message">
            {{#if result}}
                {{result.message}}
            {{/if}}
        </span>
        <span class='execution_info'>
            <span class="loading">
                {{t "results_console_view.executing"}}
            </span>
            <a class="cancel" href='#'>{{t "actions.cancel"}}</a>
        </span>
    </div>
    <div class="result_table">
    </div>
</div>
