<fieldset>
    <legend>
        <div>
            <input type="radio" name="sandbox_type" id="create_sandbox_within_instance" checked="checked"/>
            <label for="create_sandbox_within_instance">{{t "sandbox.create.within_instance"}}</label>
        </div>
        <div>
            <input type="radio" name="sandbox_type" id="create_sandbox_as_standalone"/>
            <label for="create_sandbox_as_standalone">{{t "sandbox.create.as_standalone"}}</label>
        </div>
    </legend>
    <form>
        <div class="instance_mode"></div>

        <div id="standalone_mode"></div>
    </form>
</fieldset>
<div class="modal_controls">
    <label class="required"/><label>{{t "validation.required_field"}}</label>
    <button type="button" class="cancel" tabindex=2>{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex=1>{{t "sandbox.add_sandbox"}}</button>
</div>
