<input class="search" placeholder='{{t "schema.metadata.list.hint.datasets"}}'/>
<div class="schema_name">{{t "schema.functions.search_in" schemaName=schemaName}}</div>
{{#if models.length}}
    <ul class="schema_metadata_list list">
    {{#each models}}
        <li>
            <span class="spacer left"/>
            <img src="images/small_table.png">
            <div class="name">
                <a href="#" title="{{name}}">{{name}}</a>
            </div>
            <span class="spacer right"/>
        </li>
    {{/each}}
    </ul>
{{else}}
    <div class="none_found">{{t "schema.metadata.list.empty"}}</div>
{{/if}}
