{{#if shown}}
    {{#if filteredSearch}}
        <div class="pagination">
            <div class="right">

                {{#ifAny hasPrevious hasNext }}
                    <span class="page_numbers">{{t "search.page" shown=currentPage total=totalPages}}</span>
                {{/ifAny}}

                {{#if hasPrevious}}
                    <a href="#" class="previous">
                       {{t "search.previous"}}
                    </a>
                {{else}}
                    <span class="previous">{{t "search.previous"}}</span>
                {{/if}}
                |
                {{#if hasNext}}
                    <a href="#" class="next">
                        {{t "search.next"}}
                    </a>
                {{else}}
                    <span class="next">{{t "search.next"}}</span>
                {{/if}}

            </div>
            <span class="count">{{t "search.results" count=total}}</span>
        </div>
    {{else}}
        <div class="details">
            <div class="right">
                {{#if moreResults}}
                    <span class="count">{{t "search.count" shown=shown total=total}}</span>
                    <a class="show_all" data-type="user" href="#">{{t "search.show_all"}}</a>
                {{else}}
                    <span class="count">{{t "search.count_short" shown=shown}}</span>
                {{/if}}
            </div>
            <span class="title">{{t "search.users.title"}}</span>
        </div>
    {{/if}}

    <ul class="user_list"></ul>
{{/if}}
