<div class="comments">
    {{#each comments}}
    <div class="comment">
        <span class="comment_type">
        {{#if isInsight}}
            {{t "activity_stream.insight"}}:
        {{else}}
            {{# if isComment}}
                {{t "activity_stream.comment"}}:
            {{else}}
                {{#unless isCommitMessage}}
                    {{t "activity_stream.note"}}:
                {{/unless}}
            {{/if}}
        {{/if}}
        </span>
        <span class="comment_content">&#8220;{{{displaySearchMatch "content"}}}&#8221;</span>
    </div>
    {{/each}}

    {{#if hasMoreComments}}
    <div class='has_more_comments'>
        <span class="and">{{t "search.comments_more.and"}}</span>
        <a href="#" class="show_more_comments">
            {{t "search.comments_more" count=hasMoreComments}}
        </a>
    </div>
    {{/if}}

    <div class="more_comments hidden">
        {{#each moreComments}}
        <div class="comment">
            <span class="comment_type">
            {{#if isInsight}}
                {{t "insight.title"}}:
            {{else}}
                {{# if isComment}}
                    {{t "activity_stream.comment"}}:
                {{else}}
                    {{#unless isCommitMessage}}
                        {{t "activity_stream.note"}}:
                    {{/unless}}
                {{/if}}
            {{/if}}
            </span>
            <span class="comment_content">&#8220;{{{displaySearchMatch "content"}}}&#8221;</span>
        </div>
        {{/each}}
        <a href="#" class="show_fewer_comments">{{t "search.comments_less"}}</a>
    </div>
</div>
