{{#if shown}}
    {{#if filteredSearch}}
        <div class="pagination">
            <div class="right">
                {{#if hasNext}}
                    <a href="#" class="next">
                        {{t "search.next"}}
                    </a>
                {{else}}
                    <span class="next">{{t "search.next"}}</span>
                {{/if}}
                |
                {{#if hasPrevious}}
                    <a href="#" class="previous">
                       {{t "search.previous"}}
                    </a>
                {{else}}
                    <span class="previous">{{t "search.previous"}}</span>
                {{/if}}
            </div>
            <span class="count">{{t "search.results" count=total}}</span>
        </div>
    {{else}}
        <div class="details">
            <div class="right">
                {{#if moreResults}}
                    <span class="count">{{t "search.count" shown=shown total=total}}</span>
                    <a class="show_all" data-type="instance" href="#">{{t "search.show_all"}}</a>
                {{else}}
                    <span class="count">{{t "search.count_short" shown=shown}}</span>
                {{/if}}
            </div>
            <span class="title">{{t "instances.title"}}</span>
        </div>
    {{/if}}
        
    <ul class="instance_list"></ul>
{{/if}}
