<li class="result_item" data-cid={{resource.cid}}>
    <div class="spacer left"></div>
    <img class="icon" src="{{iconUrl}}"></img>
    <div class="description">
        <a class="name" href="{{showUrl}}">{{{displaySearchMatch "name"}}}</a>
        <div class="location">
            {{t "hdfs.from"}}
            <span class="instance">{{{instanceLink}}} /</span>
            <span class="path_parts">{{{completePath}}}</span>
        </div>

        <div class="comments_container"/>
    </div>
    <div class="spacer right"></div>
</li>