{{#if shown}}
    {{#if filteredSearch}}
            <div class="pagination">
                <div class="right">
                    <a href="#" class="next">{{t "search.next"}}</a>
                </div>
                <span class="count">{{t "search.results" count=total}}</span>
            </div>
    {{else}}
        <div class="details">
            <div class="right">
                {{#if moreResults}}
                    <span class="count">{{t "search.count" shown=shown total=total}}</span>
                    <a class="show_all" data-type="dataset" href="#">{{t "search.show_all"}}</a>
                {{else}}
                    <span class="count">{{t "search.count_short" shown=shown}}</span>
                {{/if}}
            </div>
            <span class="title">{{t "dataset.title_plural"}}</span>
        </div>
    {{/if}}
    <ul>
        {{#each models}}
            <li class="result_item" data-cid={{model.cid}}>
                <div class="spacer_left"></div>
                <img class="icon" src="{{iconUrl}}" title="{{humanizedTabularDataType this}}"/>
                <div class="description">
                    <a class="name" href="{{showUrl}}">{{{displaySearchMatch "objectName"}}}</a>
                    <div class="location">
                        {{{tabularDataLocation model}}}
                        {{{usedInWorkspaces workspaces dataset}}}
                    </div>

                    <div class="comments_container"/>
                </div>
                <div class="spacer_right"></div>
            </li>
        {{/each}}
    </ul>
{{/if}}