<div class="details">
    <span class="title">{{t "workfiles.title"}}</span>
    <span class="count">{{t "search.count" shown=shown total=total}}</span>
    <a class="show_all" href="#">{{t "search.show_all"}}</a>
</div>

<ul>
    {{#each models}}
        <li>This is a workfile named  <a href="{{showUrl}}">{{name}}</a></li>
    {{/each}}
</ul>