{{#if shown}}
    <div class="details">
        <div class="right">
            {{#if moreResults}}
                    <span class="count">{{t "search.count" shown=shown total=total}}</span>
                    <a class="show_all" data-type="user" href="#">{{t "search.show_all"}}</a>
                {{else}}
                    <span class="count">{{t "search.count_short" shown=shown}}</span>
                {{/if}}
        </div>
        <span class="title">{{t "search.users.title"}}</span>
    </div>
<ul>
{{#each models}}
<li class="result_item" data-id={{id}}>
    <div class="spacer_left"></div>
    <img class="icon" src="{{iconSrc}}"/>
    <div class="description">
        <a class="name" href="{{link}}">{{{displayName}}}</a>
        <div class="supportingMessage">
            {{#each supportingMessage}}
                {{#if title}}
                <div class="title">
                        <span class="prefix">{{t "users.title"}}:</span>
                        <span class="content">&#8220;{{{displaySearchMatch "title"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if ou}}
                <div class="ou">
                        <span class="prefix">{{t "users.department"}}:</span>
                        <span class="content">&#8220;{{{displaySearchMatch "ou"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if content}}
                <div class="notes">
                        <span class="prefix">{{t "users.notes"}}:</span>
                        <span class="content">&#8220;{{{displaySearchMatch "content"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if emailAddress}}
                <div class="email">
                    <span class="content">&#8220;{{{displaySearchMatch "emailAddress"}}&#8221;</span>
                </div>
                {{/if}}
                {{#if name}}
                <div class="username">
                        <span class="content">&#8220;{{{displaySearchMatch "name"}}&#8221;</span>
                </div>
                {{/if}}
            {{/each}}
        </div>

        {{#if hasMoreSupportingMessage}}
            <div class='hasMore'>
                <span class="and">{{t "search.comments_more.and"}}</span>
                <a href="#" class="show_more_comments">
                    {{t "search.comments_more" count=hasMoreSupportingMessage}}
                </a>
            </div>
        {{/if}}

        <div class="moreComments hidden">
            {{#each moreSupportingMessage}}
                {{#if title}}
                <div class="title">
                    <span class="prefix">{{t "users.title"}}:</span>
                    <span class="content">&#8220;{{{displaySearchMatch "title"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if ou}}
                <div class="ou">
                    <span class="prefix">{{t "users.department"}}:</span>
                    <span class="content">&#8220;{{{displaySearchMatch "ou"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if content}}
                <div class="notes">
                    <span class="prefix">{{t "users.notes"}}:</span>
                    <span class="content">&#8220;{{{displaySearchMatch "content"}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if emailAddress}}
                <div class="email">
                    <span class="content">&#8220;{{{displaySearchMatch "emailAddress"}}&#8221;</span>
                </div>
                {{/if}}
                {{#if name}}
                <div class="username">
                    <span class="content">&#8220;{{{displaySearchMatch "name"}}&#8221;</span>
                </div>
                {{/if}}
            {{/each}}
            <a href="#" class="show_fewer_comments">{{t "search.comments_less"}}</a>
        </div>
        <div class="spacer_right"></div>
    </div>
</li>
{{/each}}
</ul>

{{/if}}
