{{#if shown}}
    <div class="details">
        <div class="right">
            {{#if moreResults}}
                <span class="count">{{t "search.count" shown=shown total=total}}</span>
                <a class="show_all" href="#">{{t "search.show_all"}}</a>
            {{else}}
                <span class="count">{{t "search.count_short" shown=shown}}</span>
            {{/if}}
        </div>
        <span class="title">{{t "workfiles.title"}}</span>
    </div>

    <ul>
        {{#each models}}
            <li class="result_item" data-id={{id}}>
                <div class="spacer left"></div>
                <img class="icon" src="{{iconUrl}}"></img>
                <div class="description">
                    <a class="name" href="{{showUrl}}">{{{name}}}</a>
                    <div class="found_in_workspace">{{{t "search.found_in_workspace" workspaceLink=workspaceLink}}}</div>

                    <div class="comments">
                        {{#each comments}}
                        <div class="comment">
                            <span class="comment_type">
                            {{#if isInsight}}
                                {{t "insight.title"}}:
                            {{else}}
                                {{t "activity_stream.comment"}}:
                            {{/if}}
                            </span>

                            <span class="comment_content">&#8220;{{{content}}}&#8221;</span>
                        </div>
                        {{/each}}
                        {{#if hasMoreComments}}
                        <div class='hasMore'>
                            {{t "search.comments_more" count=hasMoreComments}}
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="spacer right"></div>
            </li>
        {{/each}}
    </ul>
{{/if}}
