<div class="spacer_left"></div>
<img class="icon" src="{{iconUrl}}"></img>
<div class="description">
    <a class="name" href="{{showUrl}}">{{displaySearchMatch "name"}}</a>
    <div class="location">{{usedInWorkspaces workspaces resource}}</div>
    <div class="description_content">{{displaySearchMatch "description"}}</div>

    <div class="comments_container"/>
</div>
<div class="spacer_right"></div>
