{{#if shown}}
    {{#if filteredSearch}}
        <div class="pagination">
            <div class="right">
                {{#if hasNext}}
                    <a href="#" class="next">
                        {{t "search.next"}}
                    </a>
                {{else}}
                    <span class="next">{{t "search.next"}}</span>
                {{/if}}
                |
                {{#if hasPrevious}}
                    <a href="#" class="previous">
                       {{t "search.previous"}}
                    </a>
                {{else}}
                    <span class="previous">{{t "search.previous"}}</span>
                {{/if}}
            </div>
            <span class="count">{{t "search.results" count=total}}</span>
        </div>
    {{else}}
        <div class="details">
            <div class="right">
                {{#if moreResults}}
                    <span class="count">{{t "search.count" shown=shown total=total}}</span>
                    <a class="show_all" data-type="user" href="#">{{t "search.show_all"}}</a>
                {{else}}
                    <span class="count">{{t "search.count_short" shown=shown}}</span>
                {{/if}}
            </div>
            <span class="title">{{t "search.users.title"}}</span>
        </div>
    {{/if}}
<ul>
{{#each models}}
<li class="result_item" data-cid={{model.cid}}>
    <div class="spacer_left"></div>
    <img class="icon" src="{{iconSrc}}"/>
    <div class="description">
        <a class="name" href="{{link}}">{{{displayName}}}</a>
        <div class="supportingMessage">
            {{#each supportingMessage}}
                {{#if title}}
                <div class="title">
                        <span class="prefix">{{t "users.title"}}:</span>
                        <span class="content">&#8220;{{{title}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if ou}}
                <div class="ou">
                        <span class="prefix">{{t "users.department"}}:</span>
                        <span class="content">&#8220;{{{ou}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if content}}
                <div class="notes">
                        <span class="prefix">{{t "users.notes"}}:</span>
                        <span class="content">&#8220;{{{content}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if emailAddress}}
                <div class="email">
                    <span class="content">&#8220;{{{emailAddress}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if name}}
                <div class="username">
                        <span class="content">&#8220;{{{name}}}&#8221;</span>
                </div>
                {{/if}}
            {{/each}}
        </div>

        {{#if hasMoreSupportingMessage}}
            <div class='has_more_comments'>
                <span class="and">{{t "search.comments_more.and"}}</span>
                <a href="#" class="show_more_comments">
                    {{t "search.comments_more" count=hasMoreSupportingMessage}}
                </a>
            </div>
        {{/if}}

        <div class="more_comments hidden">
            {{#each moreSupportingMessage}}
                {{#if title}}
                <div class="title">
                    <span class="prefix">{{t "users.title"}}:</span>
                    <span class="content">&#8220;{{{title}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if ou}}
                <div class="ou">
                    <span class="prefix">{{t "users.department"}}:</span>
                    <span class="content">&#8220;{{{ou}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if content}}
                <div class="notes">
                    <span class="prefix">{{t "users.notes"}}:</span>
                    <span class="content">&#8220;{{{content}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if emailAddress}}
                <div class="email">
                    <span class="content">&#8220;{{{emailAddress}}}&#8221;</span>
                </div>
                {{/if}}
                {{#if name}}
                <div class="username">
                    <span class="content">&#8220;{{{name}}}&#8221;</span>
                </div>
                {{/if}}
            {{/each}}
            <a href="#" class="show_fewer_comments">{{t "search.comments_less"}}</a>
        </div>
    </li>
    {{/each}}
    </ul>
{{/if}}
