{{#if shown}}
    <div class="search_result_header">
        {{#if filteredSearch}}
            <div class="list_content_details header">
                <div class="pagination">
                    {{#ifAny hasPrevious hasNext }}
                        <span class="page_numbers">{{t "search.page" shown=currentPage total=totalPages}}</span>
                    {{/ifAny}}

                    <div class="links">
                        {{#if hasPrevious}}
                            <a href="#" class="previous">
                               {{t "search.previous"}}
                            </a>
                        {{else}}
                            <span class="previous">{{t "search.previous"}}</span>
                        {{/if}}
                        {{#if hasNext}}
                            <a href="#" class="next">
                                {{t "search.next"}}
                            </a>
                        {{else}}
                            <span class="next">{{t "search.next"}}</span>
                        {{/if}}
                    </div>
                 </div>
                <span class="count">{{t "search.results" count=total}}</span>
            </div>
        {{else}}
            <div class="details">
                <div class="right">
                    {{#if moreResults}}
                        <span class="count">{{t "search.count" shown=shown total=total}}</span>
                        <a class="show_all" data-type="{{entityType}}" href="#">{{t "search.show_all"}}</a>
                    {{else}}
                        <span class="count">{{t "search.count_short" shown=shown}}</span>
                    {{/if}}
                </div>
                <span class="title">{{title}}</span>
            </div>
        {{/if}}
    </div>

    <ul class="{{entityType}}_list"></ul>
{{/if}}