<div class="shuttle_header">
    <div class="search">
        <input type="text"/>
        <a class="add_all" href="#">{{t "shuttle.add_all"}}</a>
    </div>

    <div class="summary">
        {{objectName}}: {{t "shuttle.selected" length}}
        <a class="remove_all" href="#">{{t "shuttle.remove_all"}}</a>
    </div>
</div>

<ul class="available">
    {{#each models}}
        <li data-id="{{id}}" {{#if isAdded}}class="added"{{/if}}>
            <div class="image">
                <img class="profile" src="{{{imageUrl}}}"/>
                <img class="checkmark" src="/images/checkmark.png"/>
            </div>
            <span class="name">{{displayName}}</span>
            <a class="add" href="#">{{t "shuttle.add_entry"}}</a>
            <span class="was_added">{{t "shuttle.was_added"}}</span>
        </li>
    {{/each}}
</ul>


<ul class="selected">
    {{#each models}}
        <li data-id="{{id}}" {{#if isAdded}}class="added"{{/if}}>
            <div class="image">
                <img class="profile" src="{{{imageUrl}}}"/>
            </div>
            <span class="name">{{displayName}}</span>
            <a class="remove" href="#">{{t "shuttle.remove_entry"}}</a>
        </li>
    {{/each}}
</ul>

