<div class="shuttle_header">
    <div class="search">
        <div>
            <input type="text"/>
            <a class="add_all" href="#">{{t "shuttle.add_all"}}</a>
        </div>
    </div>

    <div class="summary">
        <div>
            <span class='object_name'>{{objectName}}:</span> <span class="selected_count"/>
            <a class="remove_all" href="#">{{t "shuttle.remove_all"}}</a>
        </div>
    </div>
</div>

<div class="shuttle_body">
<ul class="available">
    {{#each models}}
        <li data-id="{{id}}" class="{{#if isAdded}}added{{/if}} {{#if isNonRemovable}}non_removable{{/if}}">
            <div class="image">
                <img class="profile" src="{{{imageUrl}}}"/>
                <img class="checkmark" src="/images/checkmark.png"/>
            </div>
            <div class="name" title="{{displayName}}">{{displayName}}</div>
            <a class="add" href="#">{{t "shuttle.add_entry"}}</a>
            <span class="was_added">{{#if isNonRemovable}}{{nonRemovableText}}{{else}}{{t "shuttle.was_added"}}{{/if}}</span>
        </li>
    {{/each}}
</ul>


<ul class="selected">
    {{#each models}}
    <li data-id="{{id}}" class="{{#if isAdded}}added{{/if}} {{#if isNonRemovable}}non_removable{{/if}}">
            <div class="image">
                <img class="profile" src="{{{imageUrl}}}"/>
            </div>
            <div class="name" title="{{displayName}}">{{displayName}}</div>
            {{#if isNonRemovable}}
                <span >{{nonRemovableText}}</span>
            {{else}}
                <a class="remove" href="#">{{t "shuttle.remove_entry"}}</a>
            {{/if}}
        </li>
    {{/each}}
</ul>
</div>
