<button class="run_file">{{t "workfile.content_details.run_file"}}<span class="down_arrow"></span></button>
<div class="execution_schema">{{schemaName}}</div>

{{{renderTemplate "workfile_content_details" .}}}

<div class="run_workfile hidden">
    <ul class="run_menu">
        <li>
            {{#if schemaName}}
                <span class="menu_shortcut">{{hotKeyName "r"}}</span>
                {{#if executionSchemaIsSandbox}}
                    <a href="#" class="run_default">{{t "workfile.content_details.run_workspace_sandbox"}}</a>
                {{else}}
                    <a href="#" class="run_default">{{t "workfile.content_details.run_in_last_schema" schemaName=schemaName}}</a>
                {{/if}}
            {{else}}
                <span class="run_default">{{t "workfile.content_details.run_workspace_sandbox"}}</a>
            {{/if}}
        </li>
        <li><a href="#" class="run_other_schema">{{t "workfile.content_details.run_in_another_schema"}}</a></li>
    </ul>
</div>
