<button class="run_file">{{t "workfile.content_details.run_file"}}<span class="down_arrow"></span></button>

{{{renderTemplate "workfile_content_details"}}}

<div class="run_workfile hidden">
    <ul class="run_menu">
        <li>
            {{#if hasSandbox}}
                <span class="menu_shortcut">{{hotKeyName "r"}}</span>
                <a href="#" class="run_sandbox">{{t "workfile.content_details.run_workspace_sandbox"}}</a>
            {{else}}
                <span class="run_sandbox">{{t "workfile.content_details.run_workspace_sandbox"}}</a>
            {{/if}}
        </li>
        <li><a href="#" class="run_other_schema">{{t "workfile.content_details.run_in_another_schema"}}</a></li>
    </ul>
</div>
