<ul class="sub_nav_nav">
    <li class="workfiles"><a href="#/workspaces/{{id}}/workfiles">{{t "workspace.workfiles"}}</a></li>
    <li class="datasets">{{t "workspace.datasets"}}</li>
    <li class="summary"><a href="#/workspaces/{{id}}">{{t "workspace.summary"}}</a></li>
</ul>
<div class="sub_nav_header">
    <h1></h1>
</div>