<div class="directions">
    {{{directions}}}
</div>
<div class="options">
    <div class="header_options">
        <input id="include_header" type="checkbox" {{#if include_header}}checked{{/if}}></input>
        <label for="include_header">{{t "dataset.import.include_header"}}</label>
    </div>

    <span class="delimiter">Delimiter</span>

    <input type="radio" class="delimiter" id="delimiter_tab" name="delimiter" value="&#09;"/>
    <label class="delimiter" for="delimiter_tab">Tab</label>

    <input type="radio" class="delimiter" id="delimiter_comma" name="delimiter" value=","/>
    <label class="delimiter" for="delimiter_comma">Comma</label>

    <input type="radio" class="delimiter" id="delimiter_semicolon" name="delimiter" value=";"/>
    <label class="delimiter" for="delimiter_semicolon">Semicolon</label>

    <input type="radio" class="delimiter" id="delimiter_space" name="delimiter" value=" "/>
    <label class="delimiter" for="delimiter_space">Space</label>

    <input type="radio" class="delimiter" id="delimiter_other" name="delimiter" value="other"/>
    <label class="delimiter" for="delimiter_other">Other</label>

    <input type="text" class="delimiter" name="custom_delimiter" value="{{delimiter}}" maxlength="1" />
</div>

<div class="result_table">
    <div class="data_table">
        <div class="thead list">
            <div class="column_names">
                {{#each columns}}<div class="th">
                    <div class="field_name" title="{{{name}}}">
                        <input type="text" value="{{{name}}}"/>
                    </div>
                </div>{{/each}}
            </div>
            <div class="data_types">
                {{#each columns}}<div class="th">
                <div class="type {{type}}">
                    <div class="left"/><div class="center type_name">
                        <div class="arrow"/>
                    </div><div class="right"/>
                </div>
                </div>{{/each}}
            </div>
        </div>

        <div class="tbody">
            {{#each columns}}<div class="column">
                {{#each values}}
                <div class="td" title="{{{this}}}">{{renderTableData this}}</div>
                {{/each}}
            </div>{{/each}}
        </div>
    </div>
</div>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{t "dataset.import.table.submit"}}</button>
</div>