<fieldset>
    <legend>{{t "dataset.visualization.sidebar.chart_display_settings"}}</legend>
    <div>
        <div class="category field">
            <div class='labels'>
                <label>{{t "dataset.visualization.sidebar.category"}}</label>
                <span class="column_hint">{{t "dataset.visualization.sidebar.hint.numeric"}}</span>
            </div>

            {{#if numericColumnNames.length}}
            <select>
                {{#each numericColumnNames}}
                <option value='{{this}}'>{{this}}</option>
                {{/each}}
            </select>
            {{range_chooser translationKey="dataset.visualization.sidebar.number_of_bins"}}
            {{else}}
            <span class='no_columns'>{{t "dataset.visualization.sidebar.no_columns"}}</span>
            {{/if}}
        </div>
    </div>
    <div class="button_wrapper">
        <button class="create"
                {{#unless numericColumnNames.length}}
                    disabled="disabled"
                {{/unless}}
                >{{t "dataset.visualization.sidebar.create_chart"}}</button>
        <button class="cancel hidden">{{t "actions.cancel"}}</button>
    </div>
</fieldset>