<ul>
    <li class="search_all"><a href="#/search/{{query}}">{{t "type_ahead.show_all_results" query=query}}</a></li>
{{#each results}}
    <li class="result">
        <a href="{{url}}" class="name">{{{name}}}</a>
        <span class="type">{{type}}</span>
    </li>
{{/each}}
</ul>