{{#each models}}
    <li data-userName="{{userName}}">
        <img src="/edc/userimage/{{userName}}?size=icon" class="profile"/>
        <a href="#/users/{{userName}}" class="fullname"><span>{{fullName}}</span></a>
        {{#if admin}}
            <span class="administrator tag">{{t "users.administrator"}}</span>
        {{/if}}
    </li>
{{/each}}
