{{#each models}}
    <li data-userName="{{userName}}">
        <a href="#/users/{{userName}}" class="fullname">
          <img src="/edc/userimage/{{userName}}?size=icon" class="profile"/>
          <span>{{fullName}}</span>
        </a>
        {{#if admin}}
            <span class="administrator tag">{{t "users.administrator"}}</span>
        {{/if}}
    </li>
{{/each}}
