{{#each models}}
    <li data-userName="{{userName}}">
        <a href="{{showUrl}}" class="fullname">
          <img src="{{imageUrl}}" class="profile"/>
          <span>{{fullName}}</span>
        </a>
        {{#if admin}}
            <span class="administrator tag">{{t "users.administrator"}}</span>
        {{/if}}
    </li>
{{/each}}
