{{#each models}}
    <li data-userId="{{id}}">
        <span class="spacer"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}" class="profile"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span title="{{fullName}}">{{fullName}}</span>
                </a>
                {{#if admin}}
                    <span class="administrator tag">{{t "users.administrator"}}</span>
                {{/if}}
            </div>
            <div class="details">
                <span class="title" title="{{title}}">{{title}}</span>
            </div>
        </div>
        <span class="spacer"/>
    </li>
{{/each}}
