<h1>Users</h1>

<div class="list-header">
{{#if loaded}}
    <div class="user_count">{{models.length}} Users</div>
{{else}}
    <div class="loading">Loading...</div>
{{/if}}
</div>

<ul class="users">
{{#each models}}
<li data-userName="{{userName}}">
    <img src="/edc/userimage/{{userName}}?size=icon"/>
    <div class="fullname">{{fullName}}</div>
    {{#if admin}}
        <span class="administrator"/>
    {{/if}}
</li>
{{/each}}
</ul>