{{> errorDiv }}
{{#ifAdmin}}
<form action="/edc/users" method="post">
    <div class="edit_photo">
        <img src="/images/default-user-icon.png" class="profile"/>
    </div>
    <div class="fields">

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.first_name"}}</label>
                   <input type="text" name="firstName"/>
               </span>

               <span class="right">
                   <label class="required">{{t "users.last_name"}}</label>
                   <input type="text" name="lastName"/>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.username"}}</label>
                   <input type="text" name="userName"/>
               </span>

               <span class="right admin">
                   <label class="placeholder"></label>
                   <input type="checkbox" name="admin" id="admin-checkbox"/>
                   <label for="admin-checkbox">{{t "users.make_admin"}}</label>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.email"}}</label>
                   <input type="text" name="emailAddress"/>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.password"}}</label>
                   <input type="password" name="password"/>
               </span>

               <span class="right">
                   <label class="required">{{t "users.confirm_password"}}</label>
                   <input type="password" name="passwordConfirmation"/>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label>Title</label>
                   <input type="text" name="title"/>
               </span>

               <span class="right">
                   <label>{{t "users.department"}}</label>
                   <input type="text" name="ou"/>
               </span>
        </div>

        <div class="row controls">
               <span class="left">
                   <button type="submit">{{t "users.button.add"}}</button>
                   <button type="cancel">{{t "actions.cancel"}}</button>
               </span>
        </div>
    </div>
</form>
{{else}}
<p class="aint_admin">{{t "users.not_admin"}}</p>
{{/ifAdmin}}
