{{#if permission}}
    <div class="actions">
        <h1>Actions</h1>
        <ul>
            <li><a href="#/users/{{id}}/edit" class="edit_user">{{t "actions.edit_profile"}}</a></li>
            {{#ifAdmin}}
                <li><a href="#" class="alert delete_user" data-id="{{id}}" data-alert="UserDelete">{{t "actions.delete_user"}}</a></li>
            {{/ifAdmin}}

            {{#if changePasswordAvailable}}
                <li><a href="#" class="dialog change_password" data-username ="{{userName}}" data-dialog = "ChangePassword"> {{t "actions.change_password"}}</a></li>
            {{/if}}
        </ul>
    </div>
{{/if}}

<h1 class="activity_heading">{{t "user.activity"}}</h1>
<div class="activities"/>
