<div class="headerbar">
    <div class="text type">{{t "visualization.type"}}</div>

    <div class="chart_icon frequency"/>
    <div class="chart_icon histogram"/>
    <div class="chart_icon heatmap"/>
    <div class="chart_icon timeseries"/>
    <div class="chart_icon boxplot"/>
    
    <div class="text label">{{chartType}}</div>

    <div class="right">
        <a href="#" class="show_options">{{t "visualization.show_options" count=filterCount}}</a>
        <a href="#" class="hide_options hidden">{{t "visualization.hide_options" count=filterCount}}</a>
    </div>
</div>

<div class="filter_options hidden">
</div>

<div class="chart_area">
</div>

<div class="tabledata hidden">
</div>

<div class="modal_controls">
    <div class="vertical">
        <a href="#" class="show{{#unless hasChart}} hidden{{/unless}}">{{t "visualization.show_table"}}</a>
        <a href="#" class="hide hidden">{{t "visualization.hide_table"}}</a>
        <div class="right">
            <button class="close_dialog">{{t "actions.close"}}</button>
            <button class="save"
                {{#unless hasChart}}
                    disabled="disabled"
                {{/unless}}
                >{{t "actions.save_as"}}</button>
        </div>
    </div>
</div>

<div class="hidden">
    <div class="save_options">
        <ul class="save_menu">
            <li>
                <a href="#" class="save_as_workfile">{{t "visualization.save_as_workfile"}}</a>
            </li>
            <li>
                <a href="#" class="save_to_desktop">{{t "visualization.save_to_desktop"}}</a>
            </li>
        </ul>
    </div>
</div>