<div class="headerbar">
    <div class="text type">{{t "visualization.type"}}</div>

    <div class="chart_icon frequency"/>
    <div class="chart_icon histogram"/>
    <div class="chart_icon heatmap"/>
    <div class="chart_icon timeseries"/>
    <div class="chart_icon boxplot"/>
    
    <div class="text label">{{chartType}}</div>

    <div class="right">
        {{! <a href="#" class="filter">{{t "visualization.show_filters" count=filterCount}}</a> }}
    </div>
</div>

<div class="chart_area">
</div>

<div class="tabledata hidden">
</div>

<div class="modal_controls">
    <div class="vertical">
        <a href="#" class="show{{#unless hasChart}} hidden{{/unless}}">{{t "visualization.show_table"}}</a>
        <a href="#" class="hide hidden">{{t "visualization.hide_table"}}</a>
        <div class="right">
            <button class="close_dialog">{{t "actions.close"}}</button>
            <button class="save"
            {{#unless hasChart}}
                disabled="disabled"
            {{/unless}}
            >{{t "actions.save_chart"}}</button>
        </div>
    </div>
</div>