{{#each models}}
    <li data-workfileId="{{id}}">
        <a class="image" href="{{showUrl}}">
            <img src="{{workfileIconUrl fileType}}"/>
        </div>
        <div class="text">
            <div class="main">
                <a title="{{fileName}}" class="name" href="#">
                    <span>{{fileName}}</span>
                </a>
            </div>
            <div class="summary">
                {{description}}
            </div>
            <div class="details"/>
        </div>
    </li>
{{/each}}