{{#each models}}
    <li data-id="{{id}}" {{#unless active}}class="archived"{{/unless}}>
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span>{{name}}</span>
                </a>
            </div>
            <div class="summary">
                {{summary}}
            </div>
            <div class="details">
                <span class="owner">
                    {{#if active}}
                        {{t "workspaces.owned_by"}}
                    {{else}}
                        {{t "workspaces.archived_by"}}
                    {{/if}}

                    <a href="{{ownerUrl}}">{{ownerFullName}}</a>
                </span>
                {{#unless isPublic}}
                    <span class="private">
                        <img src="/images/workspace-lock.png"/>
                        {{t "workspaces.private"}}
                    </span>
                {{/unless}}
            </div>
        </div>
    </li>
{{/each}}
