{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer_left"/>
        {{#if activeWorkspace}}
        <a class="image" href="{{url}}">
        {{/if}}
            <img src="{{iconSrc}}" class="image"/>
        {{#if activeWorkspace}}
        </a>
        {{/if}}

        <div class="text">
            <div class="main">
                {{#if activeWorkspace}}
                    <a title="{{fileName}}" class="name" href="{{url}}">
                {{/if}}
                    <span>{{fileName}}</span>
                {{#if activeWorkspace}}
                    </a>
                {{/if}}
            </div>
            <div class="details"/>
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{userProfileLink lastComment.creator}}
                    <span class="comment_info">
                        {{t "workfiles.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "workfiles.other_comments" count=otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer_right"/>
    </li>
{{/each}}
