{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{iconUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a title="{{fileName}}" class="name" href="{{showUrl}}">
                    <span>{{fileName}}</span>
                </a>
            </div>
            <div class="summary">
                {{description}}
            </div>
            <div class="details"/>
        </div>
        <span class="spacer"/>
    </li>
{{/each}}
