{{#each models}}
    <li data-id="{{id}}">
        <span class="spacer left"/>
        <a class="image" href="{{showUrl}}">
            <img src="{{iconUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a title="{{fileName}}" class="name" href="{{showUrl}}">
                    <span>{{fileName}}</span>
                </a>
            </div>
            <div class="details"/>
            {{#if lastComment}}
                <div class="comment">
                    <div class="body">
                        {{lastComment.body}}
                    </div>
                    {{{userProfileLink lastComment.creator}}}
                    <span class="comment_info">
                        {{t "workfiles.commented_on"}} <span class="on">{{lastComment.on}}</span>
                        {{#if otherCommentCount }}
                            - {{t "workfiles.other_comments" otherCommentCount}}
                        {{/if}}
                    </span>
                </div>
            {{/if}}
        </div>
        <span class="spacer right"/>
    </li>
{{/each}}
