<div class="spacer"/>
<div class="info">
    <div title="{{fileName}}" class="fileName">{{fileName}}</div>
    <span class="display_title">{{t "actions.display"}}</span>
    <a class="version_list" href="#">
        <span class="chosen">{{t "workfile.version_title" versionNum=versionNum}}</span>
        <img src="/images/blue-menu-triangle.png"/>
    </a>
    <div class="updated">{{t "workfiles.updated_by"}} <a class="updated_by" href="{{modifierUrl}}">{{updatedBy}}</a> on <span class="updated_on">{{displayTimestamp lastUpdatedStamp}}</span></div>
</div>
<div class="actions">
    <ul>
        <li><a class="download" href="{{downloadUrl}}">{{t "actions.download"}}</a></li>
        <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workfile" data-allow-workfile-attachments="false" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
    </ul>
</div>
<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"/>
</div>