<h2>{{t "workspace.quickstart.headline"}}</h2>
<span class="body">{{t "workspace.quickstart.body"}}</span>

<div class="add_team_members">
    <img src="images/workspaces/user_quick_start.png"/>
    <a href="#">{{t "workspace.quickstart.add_team_members.link"}}</a>
    <span class="text">{{t "workspace.quickstart.add_team_members.text"}}</span>
</div>

<div class="edit_workspace_settings">
    <img src="images/workspaces/config_quick_start.png"/>
    <a href="#">{{t "workspace.quickstart.edit_workspace_settings.link"}}</a>
    <span class="text">{{t "workspace.quickstart.edit_workspace_settings.text"}}</span>
</div>
