{{#each models}}
    <li data-workfileId="{{workfileId}}">
        <img src="{{workfileIconUrl fileType}}"/>
        <a title="{{fileName}}"><span class="ellipsis">{{fileName}}</span></a>
        <p>{{description}}</p>
        {{! API does not yet support recent comment activity}}
    </li>
{{/each}}