<form>
    <label class="required">{{t "workspace.settings.name"}}</label>
    <input type="text" name="name" maxlength="256" value="{{name}}" tabindex="1" {{{disable}}}/>
    <input type="checkbox" id="public_checkbox" name="isPublic" {{{disable}}}
        {{#if isPublic}}
            checked="checked"
        {{/if}}
    />
    <label for="public_checkbox">{{t "workspace.settings.publicly_available"}}</label>

    <div>
        <div class="toolbar">
            <a class="bold" href="#">{{t "workspace.settings.toolbar.bold"}}</a>
            <span>|</span>
            <a class="italic" href="#">{{t "workspace.settings.toolbar.italic"}}</a>
            <span>|</span>
            <a class="bullets" href="#">{{t "workspace.settings.toolbar.bullets"}}</a>
            <span>|</span>
            <a class="numbers" href="#">{{t "workspace.settings.toolbar.numbers"}}</a>
            <span>|</span>
            <a class="link" href="#">{{t "workspace.settings.toolbar.link"}}</a>
            <span>|</span>
            <a class="unlink" href="#">{{t "workspace.settings.toolbar.unlink"}}</a>
        </div>
        <label>{{t "workspace.settings.summary"}}</label>
    </div>
    <textarea name="summary" rows="2" tabindex="2" {{{disable}}}>{{summary}}</textarea>

    <label>Workspace Image</label>

    <div class="image_container">
        <div class='edit_photo'><div class="image_upload"/></div>
        <div class="instructions">
            {{t "workspace.settings.image.instructions"}}
        </div>
    </div>

    <label>{{t "workspace.settings.sandbox.location"}}</label>

    <div class="sandboxLocation">{{sandboxLocation}}</div>
    {{#if permission}}
        <label>{{ t "workspace.settings.change_owner"}}</label>
        <select name="owner" class="owner">
            {{#each members}}
                <option value={{id}}>{{displayNameFromPerson attributes}}</option>
            {{/each}}
        </select>
    {{else}}
        <label>{{ t "workspace.settings.workspace_owner"}}</label>
        <div class="owner"><a href="{{{ownerUrl}}}">{{ownerName}}</a></div>
    {{/if}}

    <div class="workspace_status">
        <label>{{t "workspace.settings.status"}}</label>
        <div class="radio">
            <input type="radio" id="workspace_active" name="status" {{{disable}}}
                {{#if active}}
                    checked="checked"
                {{/if}}
            />
            <label for="workspace_active"><span>{{t "workspace.settings.active"}}</span></label>
        </div>
        <div class="radio">
            <input type="radio" id="workspace_archived" name="status" {{{disable}}}
                {{#unless active}}
                    checked="checked"
                {{/unless}}
            />
            <label for="workspace_archived"><span>{{t "workspace.settings.archived"}}</span></label>
        </div>
    </div>
    <div class="archived_text">
        {{t "workspace.settings.archived_description"}}
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{#if permission}}{{t "actions.cancel"}}{{else}}{{t "actions.close_window"}}{{/if}}</button>
        {{#if permission}}
        <button type="submit" class="submit" {{{disable}}} tabindex="99">{{t "actions.save_changes"}}</button>
        {{/if}}
    </div>
</form>
