<div class="info">
    <div title="{{fileName}}" class="fileName">{{fileName}}</div>
    <div class="updated">Updated by <a class="updated_by" href="{{modifierUrl}}">{{updatedBy}}</a> on <span class="updated_on">{{displayTimestamp lastUpdatedStamp}}</span></div>
</div>
<div class="actions">
    <ul>
        <li><a class="download" href="/edc/workspace/{{workspaceId}}/workfile/{{id}}/file/{{versionFileId}}?download=true">{{t "actions.download"}}</a></li>
    </ul>
</div>
<div class="activities"/>