<button
  type="button"
  class="dialog"
  data-dialog="WorkfilesImport"
  data-workspace-id="{{id}}"
  >
  {{t "actions.import_workfile"}}
</button>
<button
  type="button"
  class="dialog"
  data-dialog="WorkfilesSqlNew"
  data-workspace-id="{{id}}"
  >
  {{t "actions.create_sql_workfile"}}
</button>
{{#if workfile}}
    <div class="info">
        <div title="{{workfile.fileName}}" class="fileName">{{workfile.fileName}}</div>
        <div class="updated">Updated by <a class="updatedBy" href="{{workfile.modifierUrl}}">{{workfile.updatedBy}}</a> on <span class="updatedOn">{{workfile.updatedAt}}</span></div>
    </div>
    <div class="actions">
        <a href="#" data-workfile-id="{{workfile.id}}" data-workspace-id="{{workfile.workspaceId}}" class="delete">{{t "actions.delete"}}</a>
    </div>
{{/if}}
