{{#if hasImage}}
    <div class="image">
        <img class="workspace_image" src="{{imageUrl}}" />
    </div>
{{/if}}
<div class="after_image{{#if hasImage}} hidden{{/if}}">
    <div class='actions'>
        <h1>{{name}}</h1>
        <ul>
            {{#if workspaceAdmin}}
                <li><a class="dialog" href="#" data-dialog="WorkspaceSettings">{{t "actions.edit_workspace"}}</a></li>
                <li><a class="alert" href="#" data-alert="WorkspaceDelete">{{t "actions.delete_workspace"}}</a></li>
                <li><a class="dialog" href="#" data-dialog="WorkspaceEditMembers">{{t "workspace.edit_members"}}</a></li>
                {{#unless hasSandbox}}
                    <li><a class="dialog" href="#" data-dialog="SandboxNew" data-workspace-id="{{id}}">{{t "sandbox.create_a_sandbox"}}</a></li>
                {{/unless}}
            {{else}}
            <li><a class="dialog" href="#" data-dialog="WorkspaceSettings">{{t "actions.view_workspace_settings"}}</a></li>
            {{/if}}
            <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-workspace-id="{{id}}" data-allow-workfile-attachments="true" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
            <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-workspace-id="{{id}}" data-allow-workfile-attachments="true" data-dialog="InsightsNew">{{t "actions.add_insight"}}</a></li>
        </ul>
    </div>

    <div class="members">
        <ul>
            {{#each members}}
                <li>
                    <a href="{{{showUrl}}}" title="{{displayName}}"><img class="profile" src="{{{imageUrl}}}"/></a>
                </li>
            {{/each}}
        </ul>
        {{#if extra_members}}
        <a class="dialog" href="#" data-dialog="WorkspaceMembersMore">{{t "workspace.members_more" count=extra_members}}</a>
        {{/if}}
    </div>
</div>
