<div class="info">
    <div title="{{fileName}}" class="fileName">{{fileName}}</div>
    <div class="updated">Updated by <a class="updated_by" href="{{modifierUrl}}">{{updatedBy}}</a> on <span class="updated_on">{{updatedAt}}</span></div>
</div>
