<button
  type="button"
  class="dialog"
  data-dialog="WorkfilesNew"
  data-workspace-id="{{id}}"
  >
  {{t "actions.create_workfile"}}
</button>
{{#if workfile}}
    <div class="info">
        <div class="fileName">{{workfile.fileName}}</div>
        <div class="updated">Updated by <a class="updatedBy" href="{{workfile.modifierUrl}}">{{workfile.updatedBy}}</a> on <span class="updatedOn">{{workfile.updatedAt}}</span></div>
    </div>
{{/if}}
