<form action="/edc/workspace/{{workspaceId}}/workfile" enctype="multipart/form-data" method="post">
    <div class="details">
        <img src="/images/workfileIcons/binary.png"/>
        <span class="fileName"/>
        <!--<label>
            {{t "workfiles.import_dialog.upload_file"}}
        </label>-->
        <input type="file" name="importFile"/>
    </div>
    <div class="comment">
        <input type="text" name="description" placeholder='{{t "workfiles.import_placeholder"}}' tabindex="1" maxlength="256"></input>
    </div>

    <div class="controls">
        <button type="button" class="cancel" tabindex=4>{{t "actions.cancel"}}</button>
        <button type="button" class="submit" disabled="disabled" tabindex=3>{{t "workfiles.button.import"}}</button>
    </div>
</form>

