{{#if hasImage}}
    <div class="image">
        <img class="workspace_image" src="{{imageUrl}}" />
    </div>
{{/if}}
<div class='actions{{#if hasImage}} hidden{{/if}}'>
<h1>{{name}}</h1>
<ul>
    {{#if canUpdate}}
        <li><a class="dialog" href="#" data-dialog="WorkspaceSettings">{{t "actions.edit_workspace"}}</a></li>
        <li><a class="alert" href="#" data-alert="WorkspaceDelete">{{t "actions.delete_workspace"}}</a></li>
        <li><a class="dialog" href="#" data-dialog="WorkspaceEditMembers">{{t "workspace.edit_members"}}</a></li>
    {{/if}}
    <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
</ul>
</div>