{{> errorDiv}}
{{#if permission}}
<form action="/users/{{username}}" method="put">
    <div class="edit_photo"></div>
    <div class="fields">

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.first_name"}}</label>
                   <input type="text" name="first_name" maxlength="256" value="{{first_name}}"/>
               </span>

               <span class="right">
                   <label class="required">{{t "users.last_name"}}</label>
                   <input type="text" name="last_name" maxlength="256" value="{{last_name}}"/>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.username"}}</label>
                   <span name="username">{{username}}</span>
               </span>

            {{#ifAdmin}}
               <span class="right admin">
                   <label class="placeholder"></label>
                   <input type="checkbox" name="admin" id="admin-checkbox" {{#if admin}} checked="true" {{/if}}>
                   <label for="admin-checkbox">{{t "users.make_admin"}}</label>
               </span>
            {{/ifAdmin}}
        </div>

        <div class="row">
               <span class="left">
                   <label class="required">{{t "users.email"}}</label>
                   <input type="text" name="email" maxlength="256" value="{{email}}"/>
               </span>
        </div>

        <div class="row">
               <span class="left">
                   <label>{{t "users.title"}}</label>
                   <input type="text" name="title" maxlength="256" value="{{title}}"/>
               </span>

               <span class="right">
                   <label>{{t "users.department"}}</label>
                   <input type="text" name="ou" maxlength="256" value="{{ou}}"/>
               </span>
        </div>

        <div class="row">
               <span class="notes">
                   <label>{{t "users.notes"}}</label>
                   <textarea rows="4" cols="1" name="notes" maxlength="4096">{{notes}}</textarea>
               </span>
        </div>

        <div class="row modal_controls">
               <span class="left">
                   <button type="submit" class="submit">{{t "users.button.save_changes"}}</button>
                   <button type="button" class="cancel">{{t "actions.cancel"}}</button>
               </span>
        </div>
    </div>
</form>
        {{else}}
<p class="aint_admin">{{t "users.edit.no_permission"}}</p>
        {{/if}}
