<div class="info">
    <h1 class='full_name'>{{displayName}}</h1>
    <span class='title'>{{title}}</span>
</div>

{{#if permission}}
    {{#unless listMode}}
        <div class="actions">
            <ul>
                {{#unless isInEditMode}}
                    <li><a href="#/users/{{id}}/edit" class="edit_user">{{t "actions.edit_profile"}}</a></li>
                {{/unless}}

                {{#ifAdmin}}
                    <li><a href="#" class="alert delete_user" data-id="{{id}}" data-alert="UserDelete">{{t "actions.delete_user"}}</a></li>
                {{/ifAdmin}}

                {{#if changePasswordAvailable}}
                    <li><a href="#" class="dialog change_password" data-username ="{{userName}}" data-dialog = "ChangePassword"> {{t "actions.change_password"}}</a></li>
                {{/if}}
            </ul>
        </div>
    {{/unless}}
{{/if}}

<div class="tab_control"></div>
