<img class="artifact_image" src="{{iconUrl}}"/>

<div class="info">
    <div title="{{name}}" class="name">{{name}}</div>
</div>

<ul class="actions">
    <li><a href="{{downloadUrl}}" class="download">{{t "actions.download"}}</a></li>
</ul>