<div class="content-bold comment">{{description}}</div>
<div>
    {{returnType}}
    <span class="content-bold">{{name}}</span>
</div>
<div class="arguments">{{argumentsString}} <a class="more alert" data-alert="FunctionInfo">{{t "schema.functions.show_more"}}</a></div>