{{#if sandbox}}
    <div class="found_in">{{datasetLocation sandbox "workspace.sandbox_schema"}}</div>
{{/if}}
<div class="menus">
</div>
{{#if imageUrl}}
    <img class="icon" {{#if imageTitle}}title="{{imageTitle}}"{{/if}} src="{{imageUrl}}"/>
{{/if}}
<h1 title="{{title}}">{{title}}</h1>
{{importFrequencyTag importFrequency}}