<div class='instance_provider greenplum_instance'>
    <div class="details">{{t "instances.list.type.greenplum"}}</div>
    <ul class="list selectable">
        {{#each greenplum}}
            <li class="instance" data-type="greenplum" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasGreenplum}}
        <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>

<div class="instance_provider hadoop_instance">
    <div class="details">{{t "instances.list.type.hdfs"}}</div>
    <ul class="list selectable">
        {{#each hadoop}}
            <li class="instance" data-type="hadoop" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasHadoop}}
        <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>

<div class="instance_provider other_instance">
    <div class="details">{{t "instances.list.type.other"}}</div>
    <ul class="list selectable">
        {{#each other}}
            <li class="instance" data-type="other" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasOther}}
        <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>
