<div class="sub_header">
    <span class="canonical_name" title="{{canonicalName}}">
        <span class="instance">{{instanceName}}</span>.<span class="database">{{databaseName}}</span>.<a class="schema_qtip" href="#"/>
    </span>
</div>
<div class="search">
    <input type="text" placeholder="{{t "dataset.dialog.search_schema" }}"/>
</div>
<div class="paginated_join_tables"></div>
<div class="join_configuration hidden"></div>

<div class="modal_controls">
    <button class="cancel">{{t "dataset.manage_join_tables.done"}}</button>
</div>
