<div class="directions">
    {{#if workspaces}}
        <span class="select_label">{{t "hdfs.create_external.select_workspace"}}</span>
        <select>
            {{#each workspaces}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <span class="name_label">{{t "hdfs.create_external.table_name"}}</span>
    {{/if}}
    {{directions}}
</div>

{{renderTemplate "csv_data_table" this}}

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{ok}}</button>
</div>
