<table>
    <thead><tr>
        <th>Size   /   Color</th >{{#each colors}} <th class="{{this}}">{{this}}</th> {{/each}}
    </tr></thead>
    {{#each sizes}}
        <tr class="{{this}}">
            <th>{{this}}</th>
            {{#each ../colors}}<td class="{{this}}" >not repeatedly used</td>{{/each}}
        </tr>
    {{/each}}
</table>
