{{#if showLocation}}
    <div class="found_in">{{tabularDataLocation model}}</div>
{{/if}}
<div class="menus"></div>
{{usedInWorkspaces workspacesAssociated dataset}}
{{#if imageUrl}}
    <img class="icon" {{#if imageTitle}}title="{{imageTitle}}"{{/if}} src="{{imageUrl}}"/>
{{/if}}
<h1 title="{{title}}">{{title}}</h1>
{{importFrequencyTag importFrequency}}