<form action="#">
    <div class="preview_bar">
        <button class="edit">{{t "dataset.verify_chorus_view.edit"}}</button>
        <button class="preview">{{t "dataset.data_preview"}}</button>
    </div>
    <div class="results_console"></div>

    <div class="sql">
        <textarea class="text_editor">{{query}}</textarea>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "dataset.verify_chorus_view.assign_name"}}</button>
    </div>
</form>