{{#each models}}
    <li>
        <a href="{{showUrl}}">
            <img src="/images/version.png" />
            <div class="version_info">
                <div class="version_title">{{t "workfile.version_title" versionNum=versionInfo.versionNum}}</div>
                <div class="version_details">{{t "workfile.version_saved_by" authorName=authorName formattedDate=formattedDate}}</div>
            </div>
            <div class="spacer"></div>
        </a>
        <a class="delete_link alert" data-alert="WorkfileVersionDelete" data-version-id="{{versionId}}" data-version-number="{{versionNumber}}" href="#">{{t "actions.delete"}} <img src="images/trashcan.png"/></a>
    </li>
{{/each}}
