{{#if hasImage}}
    <div class="image">
        <img class="workspace_image" src="{{imageUrl}}" />
    </div>
{{/if}}
<div class="after_image{{#if hasImage}} hidden{{/if}}">
    <div class='actions'>
        <h1 title="{{name}}">{{name}}</h1>
        <ul>
            {{#if active}}
                <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-workspace-id="{{id}}" data-allow-workspace-attachments="true" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
                <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-workspace-id="{{id}}" data-allow-workspace-attachments="true" data-dialog="InsightsNew">{{t "actions.add_insight"}}</a></li>
            {{/if}}
            <li><a class="dialog" href="#" data-dialog="WorkspaceSettings">
                {{#ifAny workspaceAdmin currentUserIsMember}}
                    {{t "actions.edit_workspace"}}
                {{else}}
                    {{t "actions.view_workspace_settings"}}
                {{/ifAny}}
            </a></li>

            {{#if workspaceAdmin}}
                {{#if active}}
                    <li><a class="dialog" href="#" data-dialog="WorkspaceEditMembers">{{t "workspace.edit_members"}}</a></li>
                    {{#unless hasSandbox}}
                        <li><a class="dialog" href="#" data-dialog="SandboxNew" data-workspace-id="{{id}}">{{t "sandbox.create_a_sandbox"}}</a></li>
                    {{/unless}}
                {{/if}}
            <li><a class="alert" href="#" data-alert="WorkspaceDelete">{{t "actions.delete_workspace"}}</a></li>
            {{/if}}
        </ul>
    </div>

    <div class="workspace_member_list"></div>
</div>
