<form>
    <div class="inline-field">
        <label>{{t "kaggle.compose.to"}}</label>
        <span class="kaggle_recipient full hidden">{{recipientNames.full}}
            <a class='showLess' href='#'>{{t "kaggle.users.less"}}</a>
        </span>
        <span class="kaggle_recipient short">{{recipientNames.short}}
        {{#if hasMoreRecipients}}
            <a class='showMore' href='#'>{{t "kaggle.users.more" count=recipientNames.moreCount}}</a>
        {{/if}}
        </span>
    </div>

    <div class="inline-field">
        <label name="replyTo" class="required">{{t "kaggle.compose.from"}}</label>
        <input type="text" name="replyTo" value="{{replyTo}}"></input>
    </div>

    <div>
        <label name="subject" class="required">{{t "kaggle.compose.subject"}}</label>
        <input type="text" name="subject" value="{{t "kaggle.compose.default_subject"}}" maxlength="80"></input>
    </div>

    <div>
        <label name="htmlBody" class="required">{{t "kaggle.compose.message"}}</label>
        <div class="more-info" />
        <a class="insert_dataset_schema additional_options" href="#">{{t "kaggle.compose.insert_schema"}}</a>

        <textarea name="htmlBody"></textarea>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "kaggle.compose.submit"}}</button>
    </div>
</form>