{{#each models}}
<li data-userId="{{id}}">
    <span class="spacer_left"/>
    <input type="checkbox"/>
    <span class="image">
        <img src="{{avatarUrl}}" class="profile"/>
    </span>
    <div class="right">
        <div class="text">
            <div class="main">
                <span class="name" title="{{username}}">{{username}}</span>
            </div>
            <div class="details_area">
                <div class="location">{{location}}</div>
                <div class="small">
                    {{kaggleRank}} {{t "kaggle.competition" count=numberOfEnteredCompetitions}}
                </div>
            </div>
        </div>
    </div>
    <span class="spacer_right"/>
</li>
{{/each}}
