<div class="multiple_selection hidden">
    <span class="count"/>
    <ul>
        <li><a class="sendMessage" data-dialog="ComposeKaggleMessage" href="#">{{t "actions.send_kaggle_message"}}</a></li>
    </ul>
</div>
<div class="info">
    <div title="{{fullName}}" class="name">{{fullName}}</div>
    <div class="location details">{{location}}</div>
</div>

<div class="actions">
    <ul>
        <li>
            <a class="sendMessage" href="#" data-dialog="ComposeKaggleMessage">
                {{t "actions.compose_kaggle_message"}}
            </a>
        </li>
    </ul>
</div>

<div class="tab_control"></div>
